  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Analytics
        <small>Search and analyze the logs, events and everything we have got.</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dash</a></li>
        <li class="active">analytics</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box-body">
        <form class="search-form">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search Everything">

            <div class="input-group-btn">
              <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <!-- /.input-group -->
        </form>
      </div>
      <div class="row">
        {% include components/analytics-top-icons.html %}
      </div>
      <div class="row">
        {% include components/analytics-trends.html %}
      </div>
      <div class="row">
        {% include components/analytics-monthly-recap.html %}
      </div>
      <div class="row">
        <div class="col-md-8">
          {% include components/analytics-visitors.html %}
        </div>
        <div class="col-md-4">
          {% include components/analytics-browser.html %}
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->