  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Applications
        <small>Current Applications state</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dash</a></li>
        <li class="active">apps and ci/cd</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box-body">
          <form class="search-form">
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Search Applications">

              <div class="input-group-btn">
                <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <!-- /.input-group -->
          </form>
        </div>
      <div class="row">
        {% include components/apps-list.html %}
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->