  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Applications | Todo App
        <small>Code, bugs, activity and deployments</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dash</a></li>
        <li class="active">apps and ci/cd</li>
        <li class="active">todo-app</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              {% if 'tab' in request.arguments %}
                {% set tab = str(request.arguments['tab'][0], 'utf-8') %}
              {% else %}
                {% set tab = 'timeline' %}
              {% end %}
              <li{% if 'timeline'==tab %} class="active"%}{% end %}><a href="#timeline" data-toggle="tab" aria-expanded="false">Timeline</a></li>
              <li{% if 'deployments'==tab %} class="active"%}{% end %}><a href="#deployments" data-toggle="tab" aria-expanded="false">Deployments</a></li>
              <li{% if 'code'==tab %} class="active"%}{% end %}><a href="#code" data-toggle="tab" aria-expanded="false">Code</a></li>
              <li{% if 'versions'==tab %} class="active"%}{% end %}><a href="#versions" data-toggle="tab" aria-expanded="false">Versions</a></li>
              <li{% if 'bugs'==tab %} class="active"%}{% end %}><a href="#bugs" data-toggle="tab" aria-expanded="false">Bugs</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane {% if 'timeline'==tab %}active{% end %}" id="timeline">
                {% include components/todo-app-timeline.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'deployments'==tab %}active{% end %}" id="deployments">
                {% include components/todo-app-deployments.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'code'==tab %}active{% end %}" id="code">
                <div class="row">
                  {% include components/todo-app-code.html %}
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'versions'==tab %}active{% end %}" id="versions">
                {% include components/todo-app-versions.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'bugs'==tab %}active{% end %}" id="bugs">
                {% include components/todo-app-bugs.html %}
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->