  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        All Bugs
        <small>System wide bugs and their status</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dash</a></li>
        <li class="active">Bugs</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        {% include components/all-bugs.html %}
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->