  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Summary - Software Quality
        <small>A weekly summary of your Workspace for Quality leads.</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Summary</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i>Software Delivery</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        {% include components/dash-soft-quality.html %}
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->