  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Summary - IT Status
        <small>A weekly summary of your IT for Business Stakeholders</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Summary</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i>IT Status</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        {% include components/dash-it-status.html %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->