  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Databases
        <small>All the databases you have</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dash</a></li>
        <li class="active">databases</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        {% include components/databases.html %}
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->