  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Environments | Todo App - Stage
        <small>Parameters, services</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dash</a></li>
        <li class="active">environment</li>
        <li class="active">todo-app</li>
        <li class="active">stage</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              {% set tab = vars['tab'] %}
              <li{% if 'timeline'==tab %} class="active"%}{% end %}><a href="#timeline" data-toggle="tab" aria-expanded="false">Timeline</a></li>
              <li{% if 'status'==tab %} class="active"%}{% end %}><a href="#status" data-toggle="tab" aria-expanded="false">Status</a></li>
              <li{% if 'parameters'==tab %} class="active"%}{% end %}><a href="#parameters" data-toggle="tab" aria-expanded="false">Parameters</a></li>
              <li{% if 'services'==tab %} class="active"%}{% end %}><a href="#services" data-toggle="tab" aria-expanded="false">Services</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane {% if 'timeline'==tab %}active{% end %}" id="timeline">
                {% include components/envs-todo-app-prod-timeline.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'status'==tab %}active{% end %}" id="status">
                {% include components/envs-todo-app-prod-status.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'parameters'==tab %}active{% end %}" id="parameters">
                {% include components/envs-todo-app-stage-parameters.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'services'==tab %}active{% end %}" id="services">
                {% include components/envs-todo-app-prod-services.html %}
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->