  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Monitoring
        <small>Your service state</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dash</a></li>
        <li class="active">monitoring</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box-body">
        <form class="search-form">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search Events">

            <div class="input-group-btn">
              <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <!-- /.input-group -->
        </form>
      </div>
      <div class="row">
        {% include components/realtime-chart.html %}
      </div>
      <div class="row">
        <div class="col-md-3">
          {% include components/monitoring-cluster-health.html %}
        </div>
        <div class="col-md-3">
          {% include components/monitoring-service-health.html %}
        </div>
        <div class="col-md-3">
          {% include components/monitoring-network-health.html %}
        </div>
        <div class="col-md-3">
          {% include components/monitoring-security.html %}
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->