  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Plugins | Jenkins
        <small>Plugin Information</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dash</a></li>
        <li class="active">Settings</li>
        <li class="active">Integrations</li>
        <li class="active">Jenkins</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->