<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        User Profile
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dash</a></li>
        <li class="active">user profile</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="/dist/img/user2-160x160.jpg" alt="User profile picture">

              <h3 class="profile-username text-center">Administrator</h3>

              <p class="text-muted text-center">System Admin</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Shares</b> <a class="pull-right">57</a>
                </li>
                <li class="list-group-item">
                  <b>Likes</b> <a class="pull-right">139</a>
                </li>
                <li class="list-group-item">
                  <b>Fans</b> <a class="pull-right">45</a>
                </li>
              </ul>

              <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-body">
              <strong><i class="fa fa-arrows margin-r-5"></i> Access</strong>
              <p>
                <span class="label label-primary">Administrator</span>
              </p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              {% set tab = vars['tab'] %}
              <li{% if 'activity'==tab %} class="active"%}{% end %}><a href="#activity" data-toggle="tab" aria-expanded="true">Activity</a></li>
              <li{% if 'timeline'==tab %} class="active"%}{% end %}><a href="#timeline" data-toggle="tab" aria-expanded="false">Timeline</a></li>
              <li{% if 'settings'==tab %} class="active"%}{% end %}><a href="#settings" data-toggle="tab" aria-expanded="false">Settings</a></li>
              <li{% if 'messages'==tab %} class="active"%}{% end %}><a href="#messages" data-toggle="tab" aria-expanded="false">Messages</a></li>
              <li{% if 'tasks'==tab %} class="active"%}{% end %}><a href="#tasks" data-toggle="tab" aria-expanded="false">Tasks</a></li>
              <li{% if 'notifications'==tab %} class="active"%}{% end %}><a href="#notifications" data-toggle="tab" aria-expanded="false">Notifications</a></li>
              <li{% if 'conversations'==tab %} class="active"%}{% end %}><a href="#conversations" data-toggle="tab" aria-expanded="false">Conversations</a></li>
              <li{% if 'api'==tab %} class="active"%}{% end %}><a href="#api" data-toggle="tab" aria-expanded="false">API</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane {% if 'activity'==tab %}active{% end %}" id="activity">
                {% include components/profile-activity.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'timeline'==tab %}active{% end %}" id="timeline">
                {% include components/profile-timeline.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'settings'==tab %}active{% end %}" id="settings">
                {% include components/profile-settings.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'messages'==tab %}active{% end %}" id="messages">
                {% include components/profile-messages.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'tasks'==tab %}active{% end %}" id="tasks">
                {% include components/profile-tasks.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'notifications'==tab %}active{% end %}" id="notifications">
                {% include components/profile-notifications.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'conversations'==tab %}active{% end %}" id="conversations">
                {% include components/profile-conversations.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'api'==tab %}active{% end %}" id="api">
                {% include components/profile-api.html %}
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  </div>