  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Projects | Todo App
        <small>Tickets, issues, statistics and reports</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dash</a></li>
        <li class="active">projects</li>
        <li class="active">todo-app</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              {% if 'tab' in request.arguments %}
                {% set tab = str(request.arguments['tab'][0], 'utf-8') %}
              {% else %}
                {% set tab = 'timeline' %}
              {% end %}
              <li{% if 'timeline'==tab %} class="active"%}{% end %}><a href="#timeline" data-toggle="tab" aria-expanded="false">Timeline</a></li>
              <li{% if 'tickets'==tab %} class="active"%}{% end %}><a href="#tickets" data-toggle="tab" aria-expanded="false">Tickets</a></li>
              <li{% if 'issues'==tab %} class="active"%}{% end %}><a href="#issues" data-toggle="tab" aria-expanded="false">Issues</a></li>
              <li{% if 'statistics'==tab %} class="active"%}{% end %}><a href="#statistics" data-toggle="tab" aria-expanded="false">Statistics</a></li>
              <!--
              <li{% if 'reports'==tab %} class="active"%}{% end %}><a href="#reports" data-toggle="tab" aria-expanded="false">Reports</a></li>
              -->
            </ul>
            <div class="tab-content">
              <div class="tab-pane {% if 'timeline'==tab %}active{% end %}" id="timeline">
                {% include components/projects-todo-app-timeline.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'tickets'==tab %}active{% end %}" id="tickets">
                {% include components/projects-todo-app-tickets.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'issues'==tab %}active{% end %}" id="issues">
                {% include components/projects-todo-app-issues.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'statistics'==tab %}active{% end %}" id="statistics">
                {% include components/projects-todo-app-statistics.html %}
              </div>
              <!-- /.tab-pane -->
              <!--
              <div class="tab-pane {% if 'reports'==tab %}active{% end %}" id="reports">
                {% include components/projects-todo-app-reports.html %}
              </div>
              -->
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->