  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Settings
        <small>Configure integrations and platform behavior</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dash</a></li>
        <li class="active">Settings</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              {% set tab = vars['tab'] %}
              <li{% if 'timeline'==tab %} class="active"%}{% end %}><a href="#timeline" data-toggle="tab" aria-expanded="false">Timeline</a></li>
              <li{% if 'thresholds'==tab %} class="active"%}{% end %}><a href="#thresholds" data-toggle="tab" aria-expanded="false">Thresholds</a></li>
              <li{% if 'integrations'==tab %} class="active"%}{% end %}><a href="#integrations" data-toggle="tab" aria-expanded="false">Integrations</a></li>
              <li{% if 'pages'==tab %} class="active"%}{% end %}><a href="#pages" data-toggle="tab" aria-expanded="false">Pages</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane {% if 'timeline'==tab %}active{% end %}" id="timeline">
                {% include components/settings-timeline.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'thresholds'==tab %}active{% end %}" id="thresholds">
                {% include components/settings-thresholds.html %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'integrations'==tab %}active{% end %}" id="integrations">
                <div class="box-body">
                  <!--<form class="search-form">-->
                    <div class="input-group">
                      <div class="input-group-btn">
                        <button class="btn btn-primary btn-flat">Add New Plugin <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                    <!-- /.input-group -->
                  <!--</form>-->
                </div>
                <div class="row">
                  {% include components/settings-tabular-integrations.html %}
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {% if 'pages'==tab %}active{% end %}" id="pages">
                <div class="box-body">
                  <!--<form class="search-form">-->
                    <div class="input-group">
                      <div class="input-group-btn">
                        <button class="btn btn-primary btn-flat">Add New Page <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                    <!-- /.input-group -->
                  <!--</form>-->
                </div>
                <div class="row">
                  {% include components/settings-pages.html %}
                </div>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->