  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        All Users
        <small>Users list and access control</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dash</a></li>
        <li class="active">Users</li>
        <li class="active">List</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box-body">
        <form class="search-form">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search Users, groups and roles">

            <div class="input-group-btn">
              <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <!-- /.input-group -->
        </form>
      </div>
      <div class="row">
        {% include components/users-list.html %}
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->