<div class="box-footer">
              <div class="row">
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17 %</span>
                    <h5 class="description-header">35210</h5>
                    <span class="description-text">CURRENT TRAFFIC</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-down"></i> 11.8 %</span>
                    <h5 class="description-header">21 ms</h5>
                    <span class="description-text">AVG RESPONSE TIME</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-left"></i>0 %</span>
                    <h5 class="description-header">99.99999</h5>
                    <span class="description-text">CURRENT SLA</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block">
                    <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 2 %</span>
                    <h5 class="description-header">67 secs</h5>
                    <span class="description-text">USER PAGE TIME</span>
                  </div>
                  <!-- /.description-block -->
                </div>
              </div>
              <!-- /.row -->
            </div>