        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>AZURE</h3>

              <h4><strong>West US</strong></h4>
              <p>Machines: 11</p>
              <p>Cores: 56</p>
              <p>Memory: 67Gb</p>
              <p>Volumes: 27</p>
              <p>Storage: 2Tb</p>
            </div>
            <div class="icon">
              <i class="fa fa-cloud"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>AZURE</h3>

              <h4><strong>West Central US</strong></h4>
              <p>Machines: 30</p>
              <p>Cores: 120</p>
              <p>Memory: 189Gb</p>
              <p>Volumes: 87</p>
              <p>Storage: 29Tb</p>
            </div>
            <div class="icon">
              <i class="fa fa-cloud"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>IBM</h3>

              <h4><strong>Seattle 01</strong></h4>
              <p>Machines: 27</p>
              <p>Cores: 103</p>
              <p>Memory: 201Gb</p>
              <p>Volumes: 39</p>
              <p>Storage: 16Tb</p>
            </div>
            <div class="icon">
              <i class="fa fa-cloud"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>AWS</h3>

              <h4><strong>us-east-2</strong></h4>
              <p>Machines: 23</p>
              <p>Cores: 120</p>
              <p>Memory: 113Gb</p>
              <p>Volumes: 49</p>
              <p>Storage: 10Tb</p>
            </div>
            <div class="icon">
              <i class="fa fa-cloud"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>AWS</h3>

              <h4><strong>us-west-1</strong></h4>
              <p>Machines: 31</p>
              <p>Cores: 125</p>
              <p>Memory: 167Gb</p>
              <p>Volumes: 57</p>
              <p>Storage: 12Tb</p>
            </div>
            <div class="icon">
              <i class="fa fa-cloud"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>GOOGLE</h3>

              <h4><strong>us-central1-b</strong></h4>
              <p>Machines: 12</p>
              <p>Cores: 101</p>
              <p>Memory: 88Gb</p>
              <p>Volumes: 38</p>
              <p>Storage: 8Tb</p>
            </div>
            <div class="icon">
              <i class="fa fa-cloud"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->