<div class="row">
    <div class="col-md-3">
        <!-- Info Boxes Style 2 -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-desktop"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Sales portal</span>
              <span class="info-box-number">99.999% SLA</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                    Last incident 299 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
    </div>
    <div class="col-md-3">
          <!-- /.info-box -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-cloud"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Cloud Operations</span>
              <span class="info-box-number">99.95% SLA</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                    Last incident 245 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
    </div>
    <div class="col-md-3">
          <!-- /.info-box -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-server"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Service Support</span>
              <span class="info-box-number">92.1% SLA</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                    Last incident 20 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
    </div>
    <div class="col-md-3">
          <!-- /.info-box -->
          <a href="/apps">
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="fa fa-cubes"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">New services</span>
              <span class="info-box-number">89.1% SLA</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                    Last incident 12 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          </a>
    </div>
</div>
<div>
    		<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title"><a href="/projects/todo?tab=issues">Latest issues</a></h3>

              <!--
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
          	  -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Task ID</th>
                    <th>Item</th>
                    <th>Status</th>
                    <th>Code Activity</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR1848</a></td>
                    <td>Increase storage space for DeDup</td>
                    <td><span class="label label-danger">flagged</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,-90,70,61,-83,68</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                    <td>Integrate Ansible Tower and enable running playbooks from Dashboard</td>
                    <td><span class="label label-danger">flagged</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,-80,90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR9842</a></td>
                    <td>Resolve firewall issue with DNS integration</td>
                    <td><span class="label label-danger">flagged</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
          </div>
          <div class="box-footer text-center">
				<a href="javascript:void(0)" class="uppercase">View All Issues</a>
			  </div>
      </div>
</div>
<div class="row">
    <div class="col-md-4">
          <!-- Info Boxes Style 2 -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-history"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Backup</span>
              <span class="info-box-number">120 days retention</span>

              <div class="progress">
                <div class="progress-bar" style="width: 50%"></div>
              </div>
              <span class="progress-description">
                    5% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
    </div>
    <div class="col-md-4">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-dashboard"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">CPU utilization</span>
              <span class="info-box-number">12%</span>

              <div class="progress">
                <div class="progress-bar" style="width: 10%"></div>
              </div>
              <span class="progress-description">
                    10% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
    </div>
    <div class="col-md-4">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-bars"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Memory utilization</span>
              <span class="info-box-number">19%</span>

              <div class="progress">
                <div class="progress-bar" style="width: 10%"></div>
              </div>
              <span class="progress-description">
                    10% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
    </div>
    <div class="col-md-4">
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Storage Utilization</span>
              <span class="info-box-number">285TB</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                    70% Used.
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
    </div>
</div>