<div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>5</h3>

              <p>New users</p>
            </div>
            <div class="icon">
              <i class="fa fa-user-plus"></i>
            </div>
            <a href="/users" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>51/53</h3>

              <p>Deployment success</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/deployments" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>34<sup style="font-size: 20px">%</sup></h3>

              <p>Resource utilization</p>
            </div>
            <div class="icon">
              <i class="ion ion-speedometer"></i>
            </div>
            <a href="/infra" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>3</h3>

              <p>Prod Bugs registered last week</p>
            </div>
            <div class="icon">
              <i class="ion ion-bug"></i>
            </div>
            <a href="/bugs" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
</div>

		<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title"><a href="/apps/todo-app?tab=bugs">Open bugs</a></h3>

              <!--
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
          	  -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Task ID</th>
                    <th>Item</th>
                    <th>Status</th>
                    <th>Code Activity</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR9842</a></td>
                    <td>Todo App - Production | Appone.py line 78</td>
                    <td><span class="label label-success">in dev</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR1848</a></td>
                    <td>Todo App - Production | ModuleHandler.py line 193</td>
                    <td><span class="label label-success">testing</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,-90,70,61,-83,68</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                    <td>Todo App - Stage | Appone.py line 78</td>
                    <td><span class="label label-danger">ready for dev</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,-80,90,70,-61,83,63</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
          </div>
          <div class="box-footer text-center">
				<a href="javascript:void(0)" class="uppercase">View All Tickets</a>
			  </div>
      </div>


<div class="box">
            <div class="box-header">
              <h3 class="box-title">Application Versions</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>ID</th>
                  <th>User</th>
                  <th>Date</th>
                  <th>Status</th>
                </tr>
                <tr>
                  <td>e40d316285628d65cda0fad1ee5fc668283b423f</td>
                  <td>Administrator</td>
                  <td>18-2-2018 2:30 PM</td>
                  <td><span class="label label-info">Ready</span></td>
                </tr>
                <tr>
                  <td>b687cebfec9538897db4a12c64941bd69ea1a715</td>
                  <td>Administrator</td>
                  <td>18-2-2018 2:18 PM</td>
                  <td><span class="label label-success">Deployed</span></td>
                </tr>
                <tr>
                  <td>fa9c27d14d6c8de12617224fdbe6eaaf92faa7aa</td>
                  <td>John Annarelli</td>
                  <td>16-2-2018 1:09 PM</td>
                  <td><span class="label label-info">Ready</span></td>
                </tr>
                <tr>
                  <td>f88973e0409be49050b089c687803e36eab2376e</td>
                  <td>Cassi Sticker</td>
                  <td>15-2-2018 4:57 PM</td>
                  <td><span class="label label-danger">Test Failed on Stage</span></td>
                </tr>
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>