<div class="row">
<div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">CRM</span>
              <span class="info-box-number">41new / 23closed</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    last change 2 hrs ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Payment System</span>
              <span class="info-box-number">2new / 4closed</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    last change 5 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/projects/todo">
            <div class="info-box bg-green">
              <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Todo App</span>
                <span class="info-box-number">78new / 19closed</span>

                <div class="progress">
                  <div class="progress-bar" style="width: 100%"></div>
                </div>
                    <span class="progress-description">
                      last change 1 day ago
                    </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </a>
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-red">
            <span class="info-box-icon"><i class="fa fa-exclamation-circle"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Test App</span>
              <span class="info-box-number">0new / 0closed</span>

              <div class="progress">
                <div class="progress-bar" style="width: 0%"></div>
              </div>
                  <span class="progress-description">
                    last change 30 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
</div>


		<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title"><a href="/projects/todo?tab=tickets">Latest tickets</a></h3>

              <!--
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
          	  -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Task ID</th>
                    <th>Item</th>
                    <th>Status</th>
                    <th>Code Activity</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR9842</a></td>
                    <td>Sysadmin should be able to refresh database</td>
                    <td><span class="label label-success">in dev</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR1848</a></td>
                    <td>Jenkins integration should allow job configuration</td>
                    <td><span class="label label-warning">reopened</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,-90,70,61,-83,68</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                    <td>Write unit tests for collector services</td>
                    <td><span class="label label-success">in dev</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,-80,90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                    <td>Design architecture for high availability of dashboard</td>
                    <td><span class="label label-success">in dev</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,-90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR1848</a></td>
                    <td>CSS out of place on login form</td>
                    <td><span class="label label-success">testing</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,-90,70,61,-83,68</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                    <td>Architect API for dashboard</td>
                    <td><span class="label label-success">in dev</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,-80,90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR9842</a></td>
                    <td>Change in login page image</td>
                    <td><span class="label label-success">Shipped</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
          </div>
          <div class="box-footer text-center">
				<a href="javascript:void(0)" class="uppercase">View All Tickets</a>
			  </div>
      </div>


<div  style="background: white">
            <div class="row info-box-content">
            	<h4>Overall Code Commit Activity</h4>
            </div>

            <div class="row info-box-content">
                <div class="js-contribution-graph">
      <div class="contributions-setting float-right select-menu select-menu-modal-right js-menu-container js-select-menu">
</div>

    <div class="mb-5 border border-gray-dark rounded-1 py-2">

      <div class="js-calendar-graph is-graph-loading graph-canvas calendar-graph height-full" data-graph-url="/users/nanotkarashish/contributions" data-url="/nanotkarashish" data-from="2018-02-01" data-to="2018-02-18">
          <svg width="676" height="104" class="js-calendar-graph-svg">
  <g transform="translate(16, 20)">
      <g transform="translate(0, 0)">
          <rect class="day" width="10" height="10" x="13" y="0" fill="#ebedf0" data-count="0" data-date="2017-02-12"></rect>
          <rect class="day" width="10" height="10" x="13" y="12" fill="#ebedf0" data-count="0" data-date="2017-02-13"></rect>
          <rect class="day" width="10" height="10" x="13" y="24" fill="#ebedf0" data-count="0" data-date="2017-02-14"></rect>
          <rect class="day" width="10" height="10" x="13" y="36" fill="#ebedf0" data-count="0" data-date="2017-02-15"></rect>
          <rect class="day" width="10" height="10" x="13" y="48" fill="#ebedf0" data-count="0" data-date="2017-02-16"></rect>
          <rect class="day" width="10" height="10" x="13" y="60" fill="#ebedf0" data-count="0" data-date="2017-02-17"></rect>
          <rect class="day" width="10" height="10" x="13" y="72" fill="#ebedf0" data-count="0" data-date="2017-02-18"></rect>
      </g>
      <g transform="translate(13, 0)">
          <rect class="day" width="10" height="10" x="12" y="0" fill="#ebedf0" data-count="0" data-date="2017-02-19"></rect>
          <rect class="day" width="10" height="10" x="12" y="12" fill="#ebedf0" data-count="0" data-date="2017-02-20"></rect>
          <rect class="day" width="10" height="10" x="12" y="24" fill="#ebedf0" data-count="0" data-date="2017-02-21"></rect>
          <rect class="day" width="10" height="10" x="12" y="36" fill="#ebedf0" data-count="0" data-date="2017-02-22"></rect>
          <rect class="day" width="10" height="10" x="12" y="48" fill="#ebedf0" data-count="0" data-date="2017-02-23"></rect>
          <rect class="day" width="10" height="10" x="12" y="60" fill="#ebedf0" data-count="0" data-date="2017-02-24"></rect>
          <rect class="day" width="10" height="10" x="12" y="72" fill="#ebedf0" data-count="0" data-date="2017-02-25"></rect>
      </g>
      <g transform="translate(26, 0)">
          <rect class="day" width="10" height="10" x="11" y="0" fill="#ebedf0" data-count="0" data-date="2017-02-26"></rect>
          <rect class="day" width="10" height="10" x="11" y="12" fill="#ebedf0" data-count="0" data-date="2017-02-27"></rect>
          <rect class="day" width="10" height="10" x="11" y="24" fill="#ebedf0" data-count="0" data-date="2017-02-28"></rect>
          <rect class="day" width="10" height="10" x="11" y="36" fill="#ebedf0" data-count="0" data-date="2017-03-01"></rect>
          <rect class="day" width="10" height="10" x="11" y="48" fill="#ebedf0" data-count="0" data-date="2017-03-02"></rect>
          <rect class="day" width="10" height="10" x="11" y="60" fill="#ebedf0" data-count="0" data-date="2017-03-03"></rect>
          <rect class="day" width="10" height="10" x="11" y="72" fill="#ebedf0" data-count="0" data-date="2017-03-04"></rect>
      </g>
      <g transform="translate(39, 0)">
          <rect class="day" width="10" height="10" x="10" y="0" fill="#ebedf0" data-count="0" data-date="2017-03-05"></rect>
          <rect class="day" width="10" height="10" x="10" y="12" fill="#ebedf0" data-count="0" data-date="2017-03-06"></rect>
          <rect class="day" width="10" height="10" x="10" y="24" fill="#ebedf0" data-count="0" data-date="2017-03-07"></rect>
          <rect class="day" width="10" height="10" x="10" y="36" fill="#ebedf0" data-count="0" data-date="2017-03-08"></rect>
          <rect class="day" width="10" height="10" x="10" y="48" fill="#ebedf0" data-count="0" data-date="2017-03-09"></rect>
          <rect class="day" width="10" height="10" x="10" y="60" fill="#ebedf0" data-count="0" data-date="2017-03-10"></rect>
          <rect class="day" width="10" height="10" x="10" y="72" fill="#ebedf0" data-count="0" data-date="2017-03-11"></rect>
      </g>
      <g transform="translate(52, 0)">
          <rect class="day" width="10" height="10" x="9" y="0" fill="#ebedf0" data-count="0" data-date="2017-03-12"></rect>
          <rect class="day" width="10" height="10" x="9" y="12" fill="#ebedf0" data-count="0" data-date="2017-03-13"></rect>
          <rect class="day" width="10" height="10" x="9" y="24" fill="#ebedf0" data-count="0" data-date="2017-03-14"></rect>
          <rect class="day" width="10" height="10" x="9" y="36" fill="#ebedf0" data-count="0" data-date="2017-03-15"></rect>
          <rect class="day" width="10" height="10" x="9" y="48" fill="#ebedf0" data-count="0" data-date="2017-03-16"></rect>
          <rect class="day" width="10" height="10" x="9" y="60" fill="#ebedf0" data-count="0" data-date="2017-03-17"></rect>
          <rect class="day" width="10" height="10" x="9" y="72" fill="#ebedf0" data-count="0" data-date="2017-03-18"></rect>
      </g>
      <g transform="translate(65, 0)">
          <rect class="day" width="10" height="10" x="8" y="0" fill="#ebedf0" data-count="0" data-date="2017-03-19"></rect>
          <rect class="day" width="10" height="10" x="8" y="12" fill="#ebedf0" data-count="0" data-date="2017-03-20"></rect>
          <rect class="day" width="10" height="10" x="8" y="24" fill="#ebedf0" data-count="0" data-date="2017-03-21"></rect>
          <rect class="day" width="10" height="10" x="8" y="36" fill="#ebedf0" data-count="0" data-date="2017-03-22"></rect>
          <rect class="day" width="10" height="10" x="8" y="48" fill="#ebedf0" data-count="0" data-date="2017-03-23"></rect>
          <rect class="day" width="10" height="10" x="8" y="60" fill="#ebedf0" data-count="0" data-date="2017-03-24"></rect>
          <rect class="day" width="10" height="10" x="8" y="72" fill="#ebedf0" data-count="0" data-date="2017-03-25"></rect>
      </g>
      <g transform="translate(78, 0)">
          <rect class="day" width="10" height="10" x="7" y="0" fill="#ebedf0" data-count="0" data-date="2017-03-26"></rect>
          <rect class="day" width="10" height="10" x="7" y="12" fill="#ebedf0" data-count="0" data-date="2017-03-27"></rect>
          <rect class="day" width="10" height="10" x="7" y="24" fill="#ebedf0" data-count="0" data-date="2017-03-28"></rect>
          <rect class="day" width="10" height="10" x="7" y="36" fill="#ebedf0" data-count="0" data-date="2017-03-29"></rect>
          <rect class="day" width="10" height="10" x="7" y="48" fill="#ebedf0" data-count="0" data-date="2017-03-30"></rect>
          <rect class="day" width="10" height="10" x="7" y="60" fill="#ebedf0" data-count="0" data-date="2017-03-31"></rect>
          <rect class="day" width="10" height="10" x="7" y="72" fill="#ebedf0" data-count="0" data-date="2017-04-01"></rect>
      </g>
      <g transform="translate(91, 0)">
          <rect class="day" width="10" height="10" x="6" y="0" fill="#ebedf0" data-count="0" data-date="2017-04-02"></rect>
          <rect class="day" width="10" height="10" x="6" y="12" fill="#ebedf0" data-count="0" data-date="2017-04-03"></rect>
          <rect class="day" width="10" height="10" x="6" y="24" fill="#ebedf0" data-count="0" data-date="2017-04-04"></rect>
          <rect class="day" width="10" height="10" x="6" y="36" fill="#ebedf0" data-count="0" data-date="2017-04-05"></rect>
          <rect class="day" width="10" height="10" x="6" y="48" fill="#ebedf0" data-count="0" data-date="2017-04-06"></rect>
          <rect class="day" width="10" height="10" x="6" y="60" fill="#ebedf0" data-count="0" data-date="2017-04-07"></rect>
          <rect class="day" width="10" height="10" x="6" y="72" fill="#ebedf0" data-count="0" data-date="2017-04-08"></rect>
      </g>
      <g transform="translate(104, 0)">
          <rect class="day" width="10" height="10" x="5" y="0" fill="#ebedf0" data-count="0" data-date="2017-04-09"></rect>
          <rect class="day" width="10" height="10" x="5" y="12" fill="#ebedf0" data-count="0" data-date="2017-04-10"></rect>
          <rect class="day" width="10" height="10" x="5" y="24" fill="#ebedf0" data-count="0" data-date="2017-04-11"></rect>
          <rect class="day" width="10" height="10" x="5" y="36" fill="#ebedf0" data-count="0" data-date="2017-04-12"></rect>
          <rect class="day" width="10" height="10" x="5" y="48" fill="#ebedf0" data-count="0" data-date="2017-04-13"></rect>
          <rect class="day" width="10" height="10" x="5" y="60" fill="#ebedf0" data-count="0" data-date="2017-04-14"></rect>
          <rect class="day" width="10" height="10" x="5" y="72" fill="#ebedf0" data-count="0" data-date="2017-04-15"></rect>
      </g>
      <g transform="translate(117, 0)">
          <rect class="day" width="10" height="10" x="4" y="0" fill="#ebedf0" data-count="0" data-date="2017-04-16"></rect>
          <rect class="day" width="10" height="10" x="4" y="12" fill="#ebedf0" data-count="0" data-date="2017-04-17"></rect>
          <rect class="day" width="10" height="10" x="4" y="24" fill="#ebedf0" data-count="0" data-date="2017-04-18"></rect>
          <rect class="day" width="10" height="10" x="4" y="36" fill="#ebedf0" data-count="0" data-date="2017-04-19"></rect>
          <rect class="day" width="10" height="10" x="4" y="48" fill="#ebedf0" data-count="0" data-date="2017-04-20"></rect>
          <rect class="day" width="10" height="10" x="4" y="60" fill="#ebedf0" data-count="0" data-date="2017-04-21"></rect>
          <rect class="day" width="10" height="10" x="4" y="72" fill="#ebedf0" data-count="0" data-date="2017-04-22"></rect>
      </g>
      <g transform="translate(130, 0)">
          <rect class="day" width="10" height="10" x="3" y="0" fill="#ebedf0" data-count="0" data-date="2017-04-23"></rect>
          <rect class="day" width="10" height="10" x="3" y="12" fill="#ebedf0" data-count="0" data-date="2017-04-24"></rect>
          <rect class="day" width="10" height="10" x="3" y="24" fill="#ebedf0" data-count="0" data-date="2017-04-25"></rect>
          <rect class="day" width="10" height="10" x="3" y="36" fill="#ebedf0" data-count="0" data-date="2017-04-26"></rect>
          <rect class="day" width="10" height="10" x="3" y="48" fill="#ebedf0" data-count="0" data-date="2017-04-27"></rect>
          <rect class="day" width="10" height="10" x="3" y="60" fill="#ebedf0" data-count="0" data-date="2017-04-28"></rect>
          <rect class="day" width="10" height="10" x="3" y="72" fill="#ebedf0" data-count="0" data-date="2017-04-29"></rect>
      </g>
      <g transform="translate(143, 0)">
          <rect class="day" width="10" height="10" x="2" y="0" fill="#ebedf0" data-count="0" data-date="2017-04-30"></rect>
          <rect class="day" width="10" height="10" x="2" y="12" fill="#ebedf0" data-count="0" data-date="2017-05-01"></rect>
          <rect class="day" width="10" height="10" x="2" y="24" fill="#ebedf0" data-count="0" data-date="2017-05-02"></rect>
          <rect class="day" width="10" height="10" x="2" y="36" fill="#ebedf0" data-count="0" data-date="2017-05-03"></rect>
          <rect class="day" width="10" height="10" x="2" y="48" fill="#ebedf0" data-count="0" data-date="2017-05-04"></rect>
          <rect class="day" width="10" height="10" x="2" y="60" fill="#ebedf0" data-count="0" data-date="2017-05-05"></rect>
          <rect class="day" width="10" height="10" x="2" y="72" fill="#ebedf0" data-count="0" data-date="2017-05-06"></rect>
      </g>
      <g transform="translate(156, 0)">
          <rect class="day" width="10" height="10" x="1" y="0" fill="#ebedf0" data-count="0" data-date="2017-05-07"></rect>
          <rect class="day" width="10" height="10" x="1" y="12" fill="#ebedf0" data-count="0" data-date="2017-05-08"></rect>
          <rect class="day" width="10" height="10" x="1" y="24" fill="#ebedf0" data-count="0" data-date="2017-05-09"></rect>
          <rect class="day" width="10" height="10" x="1" y="36" fill="#ebedf0" data-count="0" data-date="2017-05-10"></rect>
          <rect class="day" width="10" height="10" x="1" y="48" fill="#ebedf0" data-count="0" data-date="2017-05-11"></rect>
          <rect class="day" width="10" height="10" x="1" y="60" fill="#ebedf0" data-count="0" data-date="2017-05-12"></rect>
          <rect class="day" width="10" height="10" x="1" y="72" fill="#ebedf0" data-count="0" data-date="2017-05-13"></rect>
      </g>
      <g transform="translate(169, 0)">
          <rect class="day" width="10" height="10" x="0" y="0" fill="#ebedf0" data-count="0" data-date="2017-05-14"></rect>
          <rect class="day" width="10" height="10" x="0" y="12" fill="#ebedf0" data-count="0" data-date="2017-05-15"></rect>
          <rect class="day" width="10" height="10" x="0" y="24" fill="#ebedf0" data-count="0" data-date="2017-05-16"></rect>
          <rect class="day" width="10" height="10" x="0" y="36" fill="#ebedf0" data-count="0" data-date="2017-05-17"></rect>
          <rect class="day" width="10" height="10" x="0" y="48" fill="#ebedf0" data-count="0" data-date="2017-05-18"></rect>
          <rect class="day" width="10" height="10" x="0" y="60" fill="#ebedf0" data-count="0" data-date="2017-05-19"></rect>
          <rect class="day" width="10" height="10" x="0" y="72" fill="#ebedf0" data-count="0" data-date="2017-05-20"></rect>
      </g>
      <g transform="translate(182, 0)">
          <rect class="day" width="10" height="10" x="-1" y="0" fill="#ebedf0" data-count="0" data-date="2017-05-21"></rect>
          <rect class="day" width="10" height="10" x="-1" y="12" fill="#ebedf0" data-count="0" data-date="2017-05-22"></rect>
          <rect class="day" width="10" height="10" x="-1" y="24" fill="#ebedf0" data-count="0" data-date="2017-05-23"></rect>
          <rect class="day" width="10" height="10" x="-1" y="36" fill="#ebedf0" data-count="0" data-date="2017-05-24"></rect>
          <rect class="day" width="10" height="10" x="-1" y="48" fill="#ebedf0" data-count="0" data-date="2017-05-25"></rect>
          <rect class="day" width="10" height="10" x="-1" y="60" fill="#ebedf0" data-count="0" data-date="2017-05-26"></rect>
          <rect class="day" width="10" height="10" x="-1" y="72" fill="#ebedf0" data-count="0" data-date="2017-05-27"></rect>
      </g>
      <g transform="translate(195, 0)">
          <rect class="day" width="10" height="10" x="-2" y="0" fill="#ebedf0" data-count="0" data-date="2017-05-28"></rect>
          <rect class="day" width="10" height="10" x="-2" y="12" fill="#c6e48b" data-count="1" data-date="2017-05-29"></rect>
          <rect class="day" width="10" height="10" x="-2" y="24" fill="#ebedf0" data-count="0" data-date="2017-05-30"></rect>
          <rect class="day" width="10" height="10" x="-2" y="36" fill="#196127" data-count="12" data-date="2017-05-31"></rect>
          <rect class="day" width="10" height="10" x="-2" y="48" fill="#c6e48b" data-count="2" data-date="2017-06-01"></rect>
          <rect class="day" width="10" height="10" x="-2" y="60" fill="#ebedf0" data-count="0" data-date="2017-06-02"></rect>
          <rect class="day" width="10" height="10" x="-2" y="72" fill="#ebedf0" data-count="0" data-date="2017-06-03"></rect>
      </g>
      <g transform="translate(208, 0)">
          <rect class="day" width="10" height="10" x="-3" y="0" fill="#ebedf0" data-count="0" data-date="2017-06-04"></rect>
          <rect class="day" width="10" height="10" x="-3" y="12" fill="#ebedf0" data-count="0" data-date="2017-06-05"></rect>
          <rect class="day" width="10" height="10" x="-3" y="24" fill="#ebedf0" data-count="0" data-date="2017-06-06"></rect>
          <rect class="day" width="10" height="10" x="-3" y="36" fill="#ebedf0" data-count="0" data-date="2017-06-07"></rect>
          <rect class="day" width="10" height="10" x="-3" y="48" fill="#ebedf0" data-count="0" data-date="2017-06-08"></rect>
          <rect class="day" width="10" height="10" x="-3" y="60" fill="#ebedf0" data-count="0" data-date="2017-06-09"></rect>
          <rect class="day" width="10" height="10" x="-3" y="72" fill="#ebedf0" data-count="0" data-date="2017-06-10"></rect>
      </g>
      <g transform="translate(221, 0)">
          <rect class="day" width="10" height="10" x="-4" y="0" fill="#ebedf0" data-count="0" data-date="2017-06-11"></rect>
          <rect class="day" width="10" height="10" x="-4" y="12" fill="#ebedf0" data-count="0" data-date="2017-06-12"></rect>
          <rect class="day" width="10" height="10" x="-4" y="24" fill="#ebedf0" data-count="0" data-date="2017-06-13"></rect>
          <rect class="day" width="10" height="10" x="-4" y="36" fill="#ebedf0" data-count="0" data-date="2017-06-14"></rect>
          <rect class="day" width="10" height="10" x="-4" y="48" fill="#ebedf0" data-count="0" data-date="2017-06-15"></rect>
          <rect class="day" width="10" height="10" x="-4" y="60" fill="#ebedf0" data-count="0" data-date="2017-06-16"></rect>
          <rect class="day" width="10" height="10" x="-4" y="72" fill="#ebedf0" data-count="0" data-date="2017-06-17"></rect>
      </g>
      <g transform="translate(234, 0)">
          <rect class="day" width="10" height="10" x="-5" y="0" fill="#ebedf0" data-count="0" data-date="2017-06-18"></rect>
          <rect class="day" width="10" height="10" x="-5" y="12" fill="#ebedf0" data-count="0" data-date="2017-06-19"></rect>
          <rect class="day" width="10" height="10" x="-5" y="24" fill="#ebedf0" data-count="0" data-date="2017-06-20"></rect>
          <rect class="day" width="10" height="10" x="-5" y="36" fill="#ebedf0" data-count="0" data-date="2017-06-21"></rect>
          <rect class="day" width="10" height="10" x="-5" y="48" fill="#ebedf0" data-count="0" data-date="2017-06-22"></rect>
          <rect class="day" width="10" height="10" x="-5" y="60" fill="#ebedf0" data-count="0" data-date="2017-06-23"></rect>
          <rect class="day" width="10" height="10" x="-5" y="72" fill="#ebedf0" data-count="0" data-date="2017-06-24"></rect>
      </g>
      <g transform="translate(247, 0)">
          <rect class="day" width="10" height="10" x="-6" y="0" fill="#ebedf0" data-count="0" data-date="2017-06-25"></rect>
          <rect class="day" width="10" height="10" x="-6" y="12" fill="#ebedf0" data-count="0" data-date="2017-06-26"></rect>
          <rect class="day" width="10" height="10" x="-6" y="24" fill="#ebedf0" data-count="0" data-date="2017-06-27"></rect>
          <rect class="day" width="10" height="10" x="-6" y="36" fill="#ebedf0" data-count="0" data-date="2017-06-28"></rect>
          <rect class="day" width="10" height="10" x="-6" y="48" fill="#ebedf0" data-count="0" data-date="2017-06-29"></rect>
          <rect class="day" width="10" height="10" x="-6" y="60" fill="#ebedf0" data-count="0" data-date="2017-06-30"></rect>
          <rect class="day" width="10" height="10" x="-6" y="72" fill="#ebedf0" data-count="0" data-date="2017-07-01"></rect>
      </g>
      <g transform="translate(260, 0)">
          <rect class="day" width="10" height="10" x="-7" y="0" fill="#ebedf0" data-count="0" data-date="2017-07-02"></rect>
          <rect class="day" width="10" height="10" x="-7" y="12" fill="#ebedf0" data-count="0" data-date="2017-07-03"></rect>
          <rect class="day" width="10" height="10" x="-7" y="24" fill="#ebedf0" data-count="0" data-date="2017-07-04"></rect>
          <rect class="day" width="10" height="10" x="-7" y="36" fill="#ebedf0" data-count="0" data-date="2017-07-05"></rect>
          <rect class="day" width="10" height="10" x="-7" y="48" fill="#ebedf0" data-count="0" data-date="2017-07-06"></rect>
          <rect class="day" width="10" height="10" x="-7" y="60" fill="#c6e48b" data-count="1" data-date="2017-07-07"></rect>
          <rect class="day" width="10" height="10" x="-7" y="72" fill="#ebedf0" data-count="0" data-date="2017-07-08"></rect>
      </g>
      <g transform="translate(273, 0)">
          <rect class="day" width="10" height="10" x="-8" y="0" fill="#ebedf0" data-count="0" data-date="2017-07-09"></rect>
          <rect class="day" width="10" height="10" x="-8" y="12" fill="#ebedf0" data-count="0" data-date="2017-07-10"></rect>
          <rect class="day" width="10" height="10" x="-8" y="24" fill="#ebedf0" data-count="0" data-date="2017-07-11"></rect>
          <rect class="day" width="10" height="10" x="-8" y="36" fill="#7bc96f" data-count="4" data-date="2017-07-12"></rect>
          <rect class="day" width="10" height="10" x="-8" y="48" fill="#ebedf0" data-count="0" data-date="2017-07-13"></rect>
          <rect class="day" width="10" height="10" x="-8" y="60" fill="#ebedf0" data-count="0" data-date="2017-07-14"></rect>
          <rect class="day" width="10" height="10" x="-8" y="72" fill="#ebedf0" data-count="0" data-date="2017-07-15"></rect>
      </g>
      <g transform="translate(286, 0)">
          <rect class="day" width="10" height="10" x="-9" y="0" fill="#ebedf0" data-count="0" data-date="2017-07-16"></rect>
          <rect class="day" width="10" height="10" x="-9" y="12" fill="#ebedf0" data-count="0" data-date="2017-07-17"></rect>
          <rect class="day" width="10" height="10" x="-9" y="24" fill="#ebedf0" data-count="0" data-date="2017-07-18"></rect>
          <rect class="day" width="10" height="10" x="-9" y="36" fill="#ebedf0" data-count="0" data-date="2017-07-19"></rect>
          <rect class="day" width="10" height="10" x="-9" y="48" fill="#ebedf0" data-count="0" data-date="2017-07-20"></rect>
          <rect class="day" width="10" height="10" x="-9" y="60" fill="#ebedf0" data-count="0" data-date="2017-07-21"></rect>
          <rect class="day" width="10" height="10" x="-9" y="72" fill="#ebedf0" data-count="0" data-date="2017-07-22"></rect>
      </g>
      <g transform="translate(299, 0)">
          <rect class="day" width="10" height="10" x="-10" y="0" fill="#ebedf0" data-count="0" data-date="2017-07-23"></rect>
          <rect class="day" width="10" height="10" x="-10" y="12" fill="#ebedf0" data-count="0" data-date="2017-07-24"></rect>
          <rect class="day" width="10" height="10" x="-10" y="24" fill="#ebedf0" data-count="0" data-date="2017-07-25"></rect>
          <rect class="day" width="10" height="10" x="-10" y="36" fill="#ebedf0" data-count="0" data-date="2017-07-26"></rect>
          <rect class="day" width="10" height="10" x="-10" y="48" fill="#ebedf0" data-count="0" data-date="2017-07-27"></rect>
          <rect class="day" width="10" height="10" x="-10" y="60" fill="#ebedf0" data-count="0" data-date="2017-07-28"></rect>
          <rect class="day" width="10" height="10" x="-10" y="72" fill="#ebedf0" data-count="0" data-date="2017-07-29"></rect>
      </g>
      <g transform="translate(312, 0)">
          <rect class="day" width="10" height="10" x="-11" y="0" fill="#ebedf0" data-count="0" data-date="2017-07-30"></rect>
          <rect class="day" width="10" height="10" x="-11" y="12" fill="#239a3b" data-count="7" data-date="2017-07-31"></rect>
          <rect class="day" width="10" height="10" x="-11" y="24" fill="#ebedf0" data-count="0" data-date="2017-08-01"></rect>
          <rect class="day" width="10" height="10" x="-11" y="36" fill="#ebedf0" data-count="0" data-date="2017-08-02"></rect>
          <rect class="day" width="10" height="10" x="-11" y="48" fill="#ebedf0" data-count="0" data-date="2017-08-03"></rect>
          <rect class="day" width="10" height="10" x="-11" y="60" fill="#ebedf0" data-count="0" data-date="2017-08-04"></rect>
          <rect class="day" width="10" height="10" x="-11" y="72" fill="#ebedf0" data-count="0" data-date="2017-08-05"></rect>
      </g>
      <g transform="translate(325, 0)">
          <rect class="day" width="10" height="10" x="-12" y="0" fill="#ebedf0" data-count="0" data-date="2017-08-06"></rect>
          <rect class="day" width="10" height="10" x="-12" y="12" fill="#ebedf0" data-count="0" data-date="2017-08-07"></rect>
          <rect class="day" width="10" height="10" x="-12" y="24" fill="#ebedf0" data-count="0" data-date="2017-08-08"></rect>
          <rect class="day" width="10" height="10" x="-12" y="36" fill="#ebedf0" data-count="0" data-date="2017-08-09"></rect>
          <rect class="day" width="10" height="10" x="-12" y="48" fill="#ebedf0" data-count="0" data-date="2017-08-10"></rect>
          <rect class="day" width="10" height="10" x="-12" y="60" fill="#ebedf0" data-count="0" data-date="2017-08-11"></rect>
          <rect class="day" width="10" height="10" x="-12" y="72" fill="#ebedf0" data-count="0" data-date="2017-08-12"></rect>
      </g>
      <g transform="translate(338, 0)">
          <rect class="day" width="10" height="10" x="-13" y="0" fill="#ebedf0" data-count="0" data-date="2017-08-13"></rect>
          <rect class="day" width="10" height="10" x="-13" y="12" fill="#ebedf0" data-count="0" data-date="2017-08-14"></rect>
          <rect class="day" width="10" height="10" x="-13" y="24" fill="#ebedf0" data-count="0" data-date="2017-08-15"></rect>
          <rect class="day" width="10" height="10" x="-13" y="36" fill="#ebedf0" data-count="0" data-date="2017-08-16"></rect>
          <rect class="day" width="10" height="10" x="-13" y="48" fill="#ebedf0" data-count="0" data-date="2017-08-17"></rect>
          <rect class="day" width="10" height="10" x="-13" y="60" fill="#ebedf0" data-count="0" data-date="2017-08-18"></rect>
          <rect class="day" width="10" height="10" x="-13" y="72" fill="#ebedf0" data-count="0" data-date="2017-08-19"></rect>
      </g>
      <g transform="translate(351, 0)">
          <rect class="day" width="10" height="10" x="-14" y="0" fill="#ebedf0" data-count="0" data-date="2017-08-20"></rect>
          <rect class="day" width="10" height="10" x="-14" y="12" fill="#ebedf0" data-count="0" data-date="2017-08-21"></rect>
          <rect class="day" width="10" height="10" x="-14" y="24" fill="#ebedf0" data-count="0" data-date="2017-08-22"></rect>
          <rect class="day" width="10" height="10" x="-14" y="36" fill="#ebedf0" data-count="0" data-date="2017-08-23"></rect>
          <rect class="day" width="10" height="10" x="-14" y="48" fill="#ebedf0" data-count="0" data-date="2017-08-24"></rect>
          <rect class="day" width="10" height="10" x="-14" y="60" fill="#ebedf0" data-count="0" data-date="2017-08-25"></rect>
          <rect class="day" width="10" height="10" x="-14" y="72" fill="#ebedf0" data-count="0" data-date="2017-08-26"></rect>
      </g>
      <g transform="translate(364, 0)">
          <rect class="day" width="10" height="10" x="-15" y="0" fill="#ebedf0" data-count="0" data-date="2017-08-27"></rect>
          <rect class="day" width="10" height="10" x="-15" y="12" fill="#ebedf0" data-count="0" data-date="2017-08-28"></rect>
          <rect class="day" width="10" height="10" x="-15" y="24" fill="#ebedf0" data-count="0" data-date="2017-08-29"></rect>
          <rect class="day" width="10" height="10" x="-15" y="36" fill="#ebedf0" data-count="0" data-date="2017-08-30"></rect>
          <rect class="day" width="10" height="10" x="-15" y="48" fill="#ebedf0" data-count="0" data-date="2017-08-31"></rect>
          <rect class="day" width="10" height="10" x="-15" y="60" fill="#ebedf0" data-count="0" data-date="2017-09-01"></rect>
          <rect class="day" width="10" height="10" x="-15" y="72" fill="#ebedf0" data-count="0" data-date="2017-09-02"></rect>
      </g>
      <g transform="translate(377, 0)">
          <rect class="day" width="10" height="10" x="-16" y="0" fill="#ebedf0" data-count="0" data-date="2017-09-03"></rect>
          <rect class="day" width="10" height="10" x="-16" y="12" fill="#ebedf0" data-count="0" data-date="2017-09-04"></rect>
          <rect class="day" width="10" height="10" x="-16" y="24" fill="#ebedf0" data-count="0" data-date="2017-09-05"></rect>
          <rect class="day" width="10" height="10" x="-16" y="36" fill="#ebedf0" data-count="0" data-date="2017-09-06"></rect>
          <rect class="day" width="10" height="10" x="-16" y="48" fill="#ebedf0" data-count="0" data-date="2017-09-07"></rect>
          <rect class="day" width="10" height="10" x="-16" y="60" fill="#ebedf0" data-count="0" data-date="2017-09-08"></rect>
          <rect class="day" width="10" height="10" x="-16" y="72" fill="#ebedf0" data-count="0" data-date="2017-09-09"></rect>
      </g>
      <g transform="translate(390, 0)">
          <rect class="day" width="10" height="10" x="-17" y="0" fill="#ebedf0" data-count="0" data-date="2017-09-10"></rect>
          <rect class="day" width="10" height="10" x="-17" y="12" fill="#ebedf0" data-count="0" data-date="2017-09-11"></rect>
          <rect class="day" width="10" height="10" x="-17" y="24" fill="#ebedf0" data-count="0" data-date="2017-09-12"></rect>
          <rect class="day" width="10" height="10" x="-17" y="36" fill="#ebedf0" data-count="0" data-date="2017-09-13"></rect>
          <rect class="day" width="10" height="10" x="-17" y="48" fill="#ebedf0" data-count="0" data-date="2017-09-14"></rect>
          <rect class="day" width="10" height="10" x="-17" y="60" fill="#ebedf0" data-count="0" data-date="2017-09-15"></rect>
          <rect class="day" width="10" height="10" x="-17" y="72" fill="#ebedf0" data-count="0" data-date="2017-09-16"></rect>
      </g>
      <g transform="translate(403, 0)">
          <rect class="day" width="10" height="10" x="-18" y="0" fill="#ebedf0" data-count="0" data-date="2017-09-17"></rect>
          <rect class="day" width="10" height="10" x="-18" y="12" fill="#ebedf0" data-count="0" data-date="2017-09-18"></rect>
          <rect class="day" width="10" height="10" x="-18" y="24" fill="#c6e48b" data-count="1" data-date="2017-09-19"></rect>
          <rect class="day" width="10" height="10" x="-18" y="36" fill="#ebedf0" data-count="0" data-date="2017-09-20"></rect>
          <rect class="day" width="10" height="10" x="-18" y="48" fill="#c6e48b" data-count="2" data-date="2017-09-21"></rect>
          <rect class="day" width="10" height="10" x="-18" y="60" fill="#ebedf0" data-count="0" data-date="2017-09-22"></rect>
          <rect class="day" width="10" height="10" x="-18" y="72" fill="#ebedf0" data-count="0" data-date="2017-09-23"></rect>
      </g>
      <g transform="translate(416, 0)">
          <rect class="day" width="10" height="10" x="-19" y="0" fill="#ebedf0" data-count="0" data-date="2017-09-24"></rect>
          <rect class="day" width="10" height="10" x="-19" y="12" fill="#c6e48b" data-count="2" data-date="2017-09-25"></rect>
          <rect class="day" width="10" height="10" x="-19" y="24" fill="#ebedf0" data-count="0" data-date="2017-09-26"></rect>
          <rect class="day" width="10" height="10" x="-19" y="36" fill="#196127" data-count="11" data-date="2017-09-27"></rect>
          <rect class="day" width="10" height="10" x="-19" y="48" fill="#ebedf0" data-count="0" data-date="2017-09-28"></rect>
          <rect class="day" width="10" height="10" x="-19" y="60" fill="#ebedf0" data-count="0" data-date="2017-09-29"></rect>
          <rect class="day" width="10" height="10" x="-19" y="72" fill="#ebedf0" data-count="0" data-date="2017-09-30"></rect>
      </g>
      <g transform="translate(429, 0)">
          <rect class="day" width="10" height="10" x="-20" y="0" fill="#ebedf0" data-count="0" data-date="2017-10-01"></rect>
          <rect class="day" width="10" height="10" x="-20" y="12" fill="#ebedf0" data-count="0" data-date="2017-10-02"></rect>
          <rect class="day" width="10" height="10" x="-20" y="24" fill="#ebedf0" data-count="0" data-date="2017-10-03"></rect>
          <rect class="day" width="10" height="10" x="-20" y="36" fill="#239a3b" data-count="8" data-date="2017-10-04"></rect>
          <rect class="day" width="10" height="10" x="-20" y="48" fill="#ebedf0" data-count="0" data-date="2017-10-05"></rect>
          <rect class="day" width="10" height="10" x="-20" y="60" fill="#ebedf0" data-count="0" data-date="2017-10-06"></rect>
          <rect class="day" width="10" height="10" x="-20" y="72" fill="#ebedf0" data-count="0" data-date="2017-10-07"></rect>
      </g>
      <g transform="translate(442, 0)">
          <rect class="day" width="10" height="10" x="-21" y="0" fill="#ebedf0" data-count="0" data-date="2017-10-08"></rect>
          <rect class="day" width="10" height="10" x="-21" y="12" fill="#7bc96f" data-count="3" data-date="2017-10-09"></rect>
          <rect class="day" width="10" height="10" x="-21" y="24" fill="#7bc96f" data-count="3" data-date="2017-10-10"></rect>
          <rect class="day" width="10" height="10" x="-21" y="36" fill="#ebedf0" data-count="0" data-date="2017-10-11"></rect>
          <rect class="day" width="10" height="10" x="-21" y="48" fill="#ebedf0" data-count="0" data-date="2017-10-12"></rect>
          <rect class="day" width="10" height="10" x="-21" y="60" fill="#ebedf0" data-count="0" data-date="2017-10-13"></rect>
          <rect class="day" width="10" height="10" x="-21" y="72" fill="#ebedf0" data-count="0" data-date="2017-10-14"></rect>
      </g>
      <g transform="translate(455, 0)">
          <rect class="day" width="10" height="10" x="-22" y="0" fill="#ebedf0" data-count="0" data-date="2017-10-15"></rect>
          <rect class="day" width="10" height="10" x="-22" y="12" fill="#ebedf0" data-count="0" data-date="2017-10-16"></rect>
          <rect class="day" width="10" height="10" x="-22" y="24" fill="#c6e48b" data-count="1" data-date="2017-10-17"></rect>
          <rect class="day" width="10" height="10" x="-22" y="36" fill="#ebedf0" data-count="0" data-date="2017-10-18"></rect>
          <rect class="day" width="10" height="10" x="-22" y="48" fill="#ebedf0" data-count="0" data-date="2017-10-19"></rect>
          <rect class="day" width="10" height="10" x="-22" y="60" fill="#ebedf0" data-count="0" data-date="2017-10-20"></rect>
          <rect class="day" width="10" height="10" x="-22" y="72" fill="#ebedf0" data-count="0" data-date="2017-10-21"></rect>
      </g>
      <g transform="translate(468, 0)">
          <rect class="day" width="10" height="10" x="-23" y="0" fill="#ebedf0" data-count="0" data-date="2017-10-22"></rect>
          <rect class="day" width="10" height="10" x="-23" y="12" fill="#ebedf0" data-count="0" data-date="2017-10-23"></rect>
          <rect class="day" width="10" height="10" x="-23" y="24" fill="#ebedf0" data-count="0" data-date="2017-10-24"></rect>
          <rect class="day" width="10" height="10" x="-23" y="36" fill="#ebedf0" data-count="0" data-date="2017-10-25"></rect>
          <rect class="day" width="10" height="10" x="-23" y="48" fill="#ebedf0" data-count="0" data-date="2017-10-26"></rect>
          <rect class="day" width="10" height="10" x="-23" y="60" fill="#ebedf0" data-count="0" data-date="2017-10-27"></rect>
          <rect class="day" width="10" height="10" x="-23" y="72" fill="#ebedf0" data-count="0" data-date="2017-10-28"></rect>
      </g>
      <g transform="translate(481, 0)">
          <rect class="day" width="10" height="10" x="-24" y="0" fill="#ebedf0" data-count="0" data-date="2017-10-29"></rect>
          <rect class="day" width="10" height="10" x="-24" y="12" fill="#ebedf0" data-count="0" data-date="2017-10-30"></rect>
          <rect class="day" width="10" height="10" x="-24" y="24" fill="#239a3b" data-count="7" data-date="2017-10-31"></rect>
          <rect class="day" width="10" height="10" x="-24" y="36" fill="#7bc96f" data-count="4" data-date="2017-11-01"></rect>
          <rect class="day" width="10" height="10" x="-24" y="48" fill="#c6e48b" data-count="1" data-date="2017-11-02"></rect>
          <rect class="day" width="10" height="10" x="-24" y="60" fill="#c6e48b" data-count="2" data-date="2017-11-03"></rect>
          <rect class="day" width="10" height="10" x="-24" y="72" fill="#ebedf0" data-count="0" data-date="2017-11-04"></rect>
      </g>
      <g transform="translate(494, 0)">
          <rect class="day" width="10" height="10" x="-25" y="0" fill="#ebedf0" data-count="0" data-date="2017-11-05"></rect>
          <rect class="day" width="10" height="10" x="-25" y="12" fill="#ebedf0" data-count="0" data-date="2017-11-06"></rect>
          <rect class="day" width="10" height="10" x="-25" y="24" fill="#ebedf0" data-count="0" data-date="2017-11-07"></rect>
          <rect class="day" width="10" height="10" x="-25" y="36" fill="#ebedf0" data-count="0" data-date="2017-11-08"></rect>
          <rect class="day" width="10" height="10" x="-25" y="48" fill="#ebedf0" data-count="0" data-date="2017-11-09"></rect>
          <rect class="day" width="10" height="10" x="-25" y="60" fill="#7bc96f" data-count="4" data-date="2017-11-10"></rect>
          <rect class="day" width="10" height="10" x="-25" y="72" fill="#ebedf0" data-count="0" data-date="2017-11-11"></rect>
      </g>
      <g transform="translate(507, 0)">
          <rect class="day" width="10" height="10" x="-26" y="0" fill="#ebedf0" data-count="0" data-date="2017-11-12"></rect>
          <rect class="day" width="10" height="10" x="-26" y="12" fill="#ebedf0" data-count="0" data-date="2017-11-13"></rect>
          <rect class="day" width="10" height="10" x="-26" y="24" fill="#c6e48b" data-count="1" data-date="2017-11-14"></rect>
          <rect class="day" width="10" height="10" x="-26" y="36" fill="#ebedf0" data-count="0" data-date="2017-11-15"></rect>
          <rect class="day" width="10" height="10" x="-26" y="48" fill="#ebedf0" data-count="0" data-date="2017-11-16"></rect>
          <rect class="day" width="10" height="10" x="-26" y="60" fill="#ebedf0" data-count="0" data-date="2017-11-17"></rect>
          <rect class="day" width="10" height="10" x="-26" y="72" fill="#ebedf0" data-count="0" data-date="2017-11-18"></rect>
      </g>
      <g transform="translate(520, 0)">
          <rect class="day" width="10" height="10" x="-27" y="0" fill="#ebedf0" data-count="0" data-date="2017-11-19"></rect>
          <rect class="day" width="10" height="10" x="-27" y="12" fill="#ebedf0" data-count="0" data-date="2017-11-20"></rect>
          <rect class="day" width="10" height="10" x="-27" y="24" fill="#ebedf0" data-count="0" data-date="2017-11-21"></rect>
          <rect class="day" width="10" height="10" x="-27" y="36" fill="#ebedf0" data-count="0" data-date="2017-11-22"></rect>
          <rect class="day" width="10" height="10" x="-27" y="48" fill="#ebedf0" data-count="0" data-date="2017-11-23"></rect>
          <rect class="day" width="10" height="10" x="-27" y="60" fill="#c6e48b" data-count="1" data-date="2017-11-24"></rect>
          <rect class="day" width="10" height="10" x="-27" y="72" fill="#ebedf0" data-count="0" data-date="2017-11-25"></rect>
      </g>
      <g transform="translate(533, 0)">
          <rect class="day" width="10" height="10" x="-28" y="0" fill="#ebedf0" data-count="0" data-date="2017-11-26"></rect>
          <rect class="day" width="10" height="10" x="-28" y="12" fill="#ebedf0" data-count="0" data-date="2017-11-27"></rect>
          <rect class="day" width="10" height="10" x="-28" y="24" fill="#ebedf0" data-count="0" data-date="2017-11-28"></rect>
          <rect class="day" width="10" height="10" x="-28" y="36" fill="#ebedf0" data-count="0" data-date="2017-11-29"></rect>
          <rect class="day" width="10" height="10" x="-28" y="48" fill="#ebedf0" data-count="0" data-date="2017-11-30"></rect>
          <rect class="day" width="10" height="10" x="-28" y="60" fill="#ebedf0" data-count="0" data-date="2017-12-01"></rect>
          <rect class="day" width="10" height="10" x="-28" y="72" fill="#ebedf0" data-count="0" data-date="2017-12-02"></rect>
      </g>
      <g transform="translate(546, 0)">
          <rect class="day" width="10" height="10" x="-29" y="0" fill="#ebedf0" data-count="0" data-date="2017-12-03"></rect>
          <rect class="day" width="10" height="10" x="-29" y="12" fill="#ebedf0" data-count="0" data-date="2017-12-04"></rect>
          <rect class="day" width="10" height="10" x="-29" y="24" fill="#ebedf0" data-count="0" data-date="2017-12-05"></rect>
          <rect class="day" width="10" height="10" x="-29" y="36" fill="#ebedf0" data-count="0" data-date="2017-12-06"></rect>
          <rect class="day" width="10" height="10" x="-29" y="48" fill="#ebedf0" data-count="0" data-date="2017-12-07"></rect>
          <rect class="day" width="10" height="10" x="-29" y="60" fill="#ebedf0" data-count="0" data-date="2017-12-08"></rect>
          <rect class="day" width="10" height="10" x="-29" y="72" fill="#ebedf0" data-count="0" data-date="2017-12-09"></rect>
      </g>
      <g transform="translate(559, 0)">
          <rect class="day" width="10" height="10" x="-30" y="0" fill="#ebedf0" data-count="0" data-date="2017-12-10"></rect>
          <rect class="day" width="10" height="10" x="-30" y="12" fill="#ebedf0" data-count="0" data-date="2017-12-11"></rect>
          <rect class="day" width="10" height="10" x="-30" y="24" fill="#ebedf0" data-count="0" data-date="2017-12-12"></rect>
          <rect class="day" width="10" height="10" x="-30" y="36" fill="#ebedf0" data-count="0" data-date="2017-12-13"></rect>
          <rect class="day" width="10" height="10" x="-30" y="48" fill="#ebedf0" data-count="0" data-date="2017-12-14"></rect>
          <rect class="day" width="10" height="10" x="-30" y="60" fill="#ebedf0" data-count="0" data-date="2017-12-15"></rect>
          <rect class="day" width="10" height="10" x="-30" y="72" fill="#ebedf0" data-count="0" data-date="2017-12-16"></rect>
      </g>
      <g transform="translate(572, 0)">
          <rect class="day" width="10" height="10" x="-31" y="0" fill="#ebedf0" data-count="0" data-date="2017-12-17"></rect>
          <rect class="day" width="10" height="10" x="-31" y="12" fill="#ebedf0" data-count="0" data-date="2017-12-18"></rect>
          <rect class="day" width="10" height="10" x="-31" y="24" fill="#c6e48b" data-count="2" data-date="2017-12-19"></rect>
          <rect class="day" width="10" height="10" x="-31" y="36" fill="#7bc96f" data-count="4" data-date="2017-12-20"></rect>
          <rect class="day" width="10" height="10" x="-31" y="48" fill="#c6e48b" data-count="1" data-date="2017-12-21"></rect>
          <rect class="day" width="10" height="10" x="-31" y="60" fill="#c6e48b" data-count="1" data-date="2017-12-22"></rect>
          <rect class="day" width="10" height="10" x="-31" y="72" fill="#ebedf0" data-count="0" data-date="2017-12-23"></rect>
      </g>
      <g transform="translate(585, 0)">
          <rect class="day" width="10" height="10" x="-32" y="0" fill="#ebedf0" data-count="0" data-date="2017-12-24"></rect>
          <rect class="day" width="10" height="10" x="-32" y="12" fill="#ebedf0" data-count="0" data-date="2017-12-25"></rect>
          <rect class="day" width="10" height="10" x="-32" y="24" fill="#ebedf0" data-count="0" data-date="2017-12-26"></rect>
          <rect class="day" width="10" height="10" x="-32" y="36" fill="#c6e48b" data-count="1" data-date="2017-12-27"></rect>
          <rect class="day" width="10" height="10" x="-32" y="48" fill="#ebedf0" data-count="0" data-date="2017-12-28"></rect>
          <rect class="day" width="10" height="10" x="-32" y="60" fill="#ebedf0" data-count="0" data-date="2017-12-29"></rect>
          <rect class="day" width="10" height="10" x="-32" y="72" fill="#ebedf0" data-count="0" data-date="2017-12-30"></rect>
      </g>
      <g transform="translate(598, 0)">
          <rect class="day" width="10" height="10" x="-33" y="0" fill="#ebedf0" data-count="0" data-date="2017-12-31"></rect>
          <rect class="day" width="10" height="10" x="-33" y="12" fill="#ebedf0" data-count="0" data-date="2018-01-01"></rect>
          <rect class="day" width="10" height="10" x="-33" y="24" fill="#ebedf0" data-count="0" data-date="2018-01-02"></rect>
          <rect class="day" width="10" height="10" x="-33" y="36" fill="#ebedf0" data-count="0" data-date="2018-01-03"></rect>
          <rect class="day" width="10" height="10" x="-33" y="48" fill="#ebedf0" data-count="0" data-date="2018-01-04"></rect>
          <rect class="day" width="10" height="10" x="-33" y="60" fill="#ebedf0" data-count="0" data-date="2018-01-05"></rect>
          <rect class="day" width="10" height="10" x="-33" y="72" fill="#ebedf0" data-count="0" data-date="2018-01-06"></rect>
      </g>
      <g transform="translate(611, 0)">
          <rect class="day" width="10" height="10" x="-34" y="0" fill="#ebedf0" data-count="0" data-date="2018-01-07"></rect>
          <rect class="day" width="10" height="10" x="-34" y="12" fill="#ebedf0" data-count="0" data-date="2018-01-08"></rect>
          <rect class="day" width="10" height="10" x="-34" y="24" fill="#c6e48b" data-count="1" data-date="2018-01-09"></rect>
          <rect class="day" width="10" height="10" x="-34" y="36" fill="#ebedf0" data-count="0" data-date="2018-01-10"></rect>
          <rect class="day" width="10" height="10" x="-34" y="48" fill="#ebedf0" data-count="0" data-date="2018-01-11"></rect>
          <rect class="day" width="10" height="10" x="-34" y="60" fill="#ebedf0" data-count="0" data-date="2018-01-12"></rect>
          <rect class="day" width="10" height="10" x="-34" y="72" fill="#ebedf0" data-count="0" data-date="2018-01-13"></rect>
      </g>
      <g transform="translate(624, 0)">
          <rect class="day" width="10" height="10" x="-35" y="0" fill="#ebedf0" data-count="0" data-date="2018-01-14"></rect>
          <rect class="day" width="10" height="10" x="-35" y="12" fill="#ebedf0" data-count="0" data-date="2018-01-15"></rect>
          <rect class="day" width="10" height="10" x="-35" y="24" fill="#ebedf0" data-count="0" data-date="2018-01-16"></rect>
          <rect class="day" width="10" height="10" x="-35" y="36" fill="#ebedf0" data-count="0" data-date="2018-01-17"></rect>
          <rect class="day" width="10" height="10" x="-35" y="48" fill="#ebedf0" data-count="0" data-date="2018-01-18"></rect>
          <rect class="day" width="10" height="10" x="-35" y="60" fill="#ebedf0" data-count="0" data-date="2018-01-19"></rect>
          <rect class="day" width="10" height="10" x="-35" y="72" fill="#ebedf0" data-count="0" data-date="2018-01-20"></rect>
      </g>
      <g transform="translate(637, 0)">
          <rect class="day" width="10" height="10" x="-36" y="0" fill="#ebedf0" data-count="0" data-date="2018-01-21"></rect>
          <rect class="day" width="10" height="10" x="-36" y="12" fill="#c6e48b" data-count="1" data-date="2018-01-22"></rect>
          <rect class="day" width="10" height="10" x="-36" y="24" fill="#ebedf0" data-count="0" data-date="2018-01-23"></rect>
          <rect class="day" width="10" height="10" x="-36" y="36" fill="#ebedf0" data-count="0" data-date="2018-01-24"></rect>
          <rect class="day" width="10" height="10" x="-36" y="48" fill="#ebedf0" data-count="0" data-date="2018-01-25"></rect>
          <rect class="day" width="10" height="10" x="-36" y="60" fill="#ebedf0" data-count="0" data-date="2018-01-26"></rect>
          <rect class="day" width="10" height="10" x="-36" y="72" fill="#ebedf0" data-count="0" data-date="2018-01-27"></rect>
      </g>
      <g transform="translate(650, 0)">
          <rect class="day" width="10" height="10" x="-37" y="0" fill="#ebedf0" data-count="0" data-date="2018-01-28"></rect>
          <rect class="day" width="10" height="10" x="-37" y="12" fill="#ebedf0" data-count="0" data-date="2018-01-29"></rect>
          <rect class="day" width="10" height="10" x="-37" y="24" fill="#ebedf0" data-count="0" data-date="2018-01-30"></rect>
          <rect class="day" width="10" height="10" x="-37" y="36" fill="#ebedf0" data-count="0" data-date="2018-01-31"></rect>
          <rect class="day" width="10" height="10" x="-37" y="48" fill="#c6e48b" data-count="1" data-date="2018-02-01"></rect>
          <rect class="day" width="10" height="10" x="-37" y="60" fill="#c6e48b" data-count="2" data-date="2018-02-02"></rect>
          <rect class="day" width="10" height="10" x="-37" y="72" fill="#ebedf0" data-count="0" data-date="2018-02-03"></rect>
      </g>
      <g transform="translate(663, 0)">
          <rect class="day" width="10" height="10" x="-38" y="0" fill="#7bc96f" data-count="3" data-date="2018-02-04"></rect>
          <rect class="day" width="10" height="10" x="-38" y="12" fill="#7bc96f" data-count="3" data-date="2018-02-05"></rect>
          <rect class="day" width="10" height="10" x="-38" y="24" fill="#ebedf0" data-count="0" data-date="2018-02-06"></rect>
          <rect class="day" width="10" height="10" x="-38" y="36" fill="#ebedf0" data-count="0" data-date="2018-02-07"></rect>
          <rect class="day" width="10" height="10" x="-38" y="48" fill="#ebedf0" data-count="0" data-date="2018-02-08"></rect>
          <rect class="day" width="10" height="10" x="-38" y="60" fill="#ebedf0" data-count="0" data-date="2018-02-09"></rect>
          <rect class="day" width="10" height="10" x="-38" y="72" fill="#c6e48b" data-count="1" data-date="2018-02-10"></rect>
      </g>
      <g transform="translate(676, 0)">
          <rect class="day" width="10" height="10" x="-39" y="0" fill="#ebedf0" data-count="0" data-date="2018-02-11"></rect>
          <rect class="day" width="10" height="10" x="-39" y="12" fill="#ebedf0" data-count="0" data-date="2018-02-12"></rect>
          <rect class="day" width="10" height="10" x="-39" y="24" fill="#ebedf0" data-count="0" data-date="2018-02-13"></rect>
          <rect class="day" width="10" height="10" x="-39" y="36" fill="#ebedf0" data-count="0" data-date="2018-02-14"></rect>
          <rect class="day" width="10" height="10" x="-39" y="48" fill="#ebedf0" data-count="0" data-date="2018-02-15"></rect>
          <rect class="day" width="10" height="10" x="-39" y="60" fill="#ebedf0" data-count="0" data-date="2018-02-16"></rect>
          <rect class="day" width="10" height="10" x="-39" y="72" fill="#ebedf0" data-count="0" data-date="2018-02-17"></rect>
      </g>
      <g transform="translate(689, 0)">
          <rect class="day" width="10" height="10" x="-40" y="0" fill="#ebedf0" data-count="0" data-date="2018-02-18"></rect>
      </g>
      <text x="13" y="-10" class="month">Feb</text>
      <text x="49" y="-10" class="month">Mar</text>
      <text x="97" y="-10" class="month">Apr</text>
      <text x="157" y="-10" class="month">May</text>
      <text x="205" y="-10" class="month">Jun</text>
      <text x="253" y="-10" class="month">Jul</text>
      <text x="313" y="-10" class="month">Aug</text>
      <text x="361" y="-10" class="month">Sep</text>
      <text x="409" y="-10" class="month">Oct</text>
      <text x="469" y="-10" class="month">Nov</text>
      <text x="517" y="-10" class="month">Dec</text>
      <text x="577" y="-10" class="month">Jan</text>
      <text x="625" y="-10" class="month">Feb</text>
    <text text-anchor="start" class="wday" dx="-14" dy="8" style="display: none;">Sun</text>
    <text text-anchor="start" class="wday" dx="-14" dy="20">Mon</text>
    <text text-anchor="start" class="wday" dx="-14" dy="32" style="display: none;">Tue</text>
    <text text-anchor="start" class="wday" dx="-14" dy="44">Wed</text>
    <text text-anchor="start" class="wday" dx="-14" dy="57" style="display: none;">Thu</text>
    <text text-anchor="start" class="wday" dx="-14" dy="69">Fri</text>
    <text text-anchor="start" class="wday" dx="-14" dy="81" style="display: none;">Sat</text>
  </g>
</svg>

      </div>
    </div>
</div>
</div>
    <div class="row">
				<div class="col-xs-6 col-md-3 text-center">
                  <input type="text" class="knob" value="95" data-width="90" data-height="90" data-fgColor="#3c8dbc" data-readonly="true">

                  <div class="knob-label">CODE COVERAGE</div>
                </div>
                <div class="col-xs-6 col-md-3 text-center">
                  <input type="text" class="knob" value="5" data-width="90" data-height="90" data-fgColor="#3c8dbc" data-readonly="true">

                  <div class="knob-label">TECHNICAL DEBT</div>
                </div>
            </div>
<div class="row info-box-content">
	<h4>Top Contributors</h4>
</div>
<div class="row info-box-content">
			<div class="row col-md-5">
			<div class="box box-danger">
                <div class="box-header with-border">
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                  <ul class="users-list clearfix">
                    <li>
                      <img src="/dist/img/user2-160x160.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Ashish</a>
                      <span class="users-list-date">89 commits</span>
                    </li>
                    <li>
                      <img src="/dist/img/user5-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Cassi</a>
                      <span class="users-list-date">14 commits</span>
                    </li>
                    <li>
                      <img src="/dist/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Harshad</a>
                      <span class="users-list-date">9 commits</span>
                    </li>
                  </ul>
                  <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                  <a href="javascript:void(0)" class="uppercase">View All Users</a>
                </div>
                <!-- /.box-footer -->
              </div>
            </div>
</div>
    </div>


