		<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Application Status</h3>
            </div>
            <div class="box-header with-border">
              <!--
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
          	  -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <tbody>
                  <tr>
                    <td>Cloud Service</td>
                    <td><span class="label label-success">OK</span></td>
                  </tr>
                  <tr>
                    <td>Todo App</td>
                    <td><span class="label label-success">OK</span></td>
                  </tr>
                  <tr>
                    <td>CRM</td>
                    <td><span class="label label-success">OK</span></td>
                  </tr>
                  <tr>
                    <td>Payment System</td>
                    <td><span class="label label-success">OK</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
          </div>
      </div>


<div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Delivery Pipeline All Job Status</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tbody><tr>
                  <th style="width: 10px">#</th>
                  <th>Task</th>
                  <th>Progress</th>
                  <th style="width: 40px">Label</th>
                </tr>
                <tr>
                  <td>1.</td>
                  <td><a href="/job-queue/logs">Build and test</a></td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-green">100%</span></td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td><a href="/job-queue/logs">Deploy to Dev and test</a></td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-green">100%</span></td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td><a href="/job-queue/logs">Deploy to Stage and test</a></td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-green">100%</span></td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td>Deploy to Production and test</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-green" style="width: 100%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-green">100%</span></td>
                </tr>
              </tbody></table>
            </div>
            <!-- /.box-body -->
            <!--
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
            -->
          </div>


<div class="box">
            <div class="box-header">
              <h3 class="box-title">Application Versions</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>ID</th>
                  <th>User</th>
                  <th>Date</th>
                  <th>Status</th>
                </tr>
                <tr>
                  <td>e40d316285628d65cda0fad1ee5fc668283b423f Todo App</td>
                  <td>Administrator</td>
                  <td>18-2-2018 2:30 PM</td>
                  <td><span class="label label-info">Ready</span></td>
                </tr>
                <tr>
                  <td>b687cebfec9538897db4a12c64941bd69ea1a715 Test App</td>
                  <td>Administrator</td>
                  <td>18-2-2018 2:18 PM</td>
                  <td><span class="label label-success">Deployed</span></td>
                </tr>
                <tr>
                  <td>fa9c27d14d6c8de12617224fdbe6eaaf92faa7aa CRM</td>
                  <td>John Annarelli</td>
                  <td>16-2-2018 1:09 PM</td>
                  <td><span class="label label-info">Ready</span></td>
                </tr>
                <tr>
                  <td>f88973e0409be49050b089c687803e36eab2376e Payment System</td>
                  <td>Cassi Sticker</td>
                  <td>15-2-2018 4:57 PM</td>
                  <td><span class="label label-danger">Test Failed on Stage</span></td>
                </tr>
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>


		<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title"><a href="/projects/todo?tab=issues">Latest issues</a></h3>

              <!--
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
          	  -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Task ID</th>
                    <th>Item</th>
                    <th>Status</th>
                    <th>Code Activity</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR1848</a></td>
                    <td>Increase storage space for DeDup</td>
                    <td><span class="label label-danger">flagged</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,-90,70,61,-83,68</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                    <td>Integrate Ansible Tower and enable running playbooks from Dashboard</td>
                    <td><span class="label label-danger">flagged</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,-80,90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR9842</a></td>
                    <td>Resolve firewall issue with DNS integration</td>
                    <td><span class="label label-danger">flagged</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
          </div>
          <div class="box-footer text-center">
				<a href="javascript:void(0)" class="uppercase">View All Issues</a>
			  </div>
      </div>