        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Databases</h3>

              <div class="box-tools pull-right">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Search Databases">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                </div>
                <!-- /.btn-group -->
                <div class="btn-group">
                  <!--<button type="button" class="btn btn-default btn-sm"><img src="/dist/img/actifio-small.png" style="height: 16px;"></button>-->
                  <!--<button type="button" class="btn btn-default btn-sm"><img src="/dist/img/delphix.png" style="height: 10px;"></button>-->
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                </div>
                <div class="pull-right">
                  1-10/79
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->
              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-light-blue"></i></a></td>
                    <td><a href="#"><i class="fa fa-shield text-light-blue"></i></a></td>
                    <td><a href="#"><i class="fa fa-object-group text-light-blue"></i></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/databases/dataDb"><b>Data on demand demo</b></a> - <a href="#">QA</a>
                    </td>
                    <td class="mailbox-attachment">Oracle</td>
                    <td class="mailbox-date">backed up 5 mins ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-light-blue"></i></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">John Annarelli</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Todo app</b></a> - <a href="#">Production</a>
                    </td>
                    <td class="mailbox-attachment">Oracle</td>
                    <td class="mailbox-date">backed up 28 mins ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-light-blue"></i></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"><i class="fa fa-object-group text-light-blue"></i></a></td>
                    <td class="mailbox-name"><a href="#">Sam Day</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Todo app</b></a> - <a href="#">Stage</a>
                    </td>
                    <td class="mailbox-attachment">Oracle</td>
                    <td class="mailbox-date">backed up 11 hours ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-light-blue"></i></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Cassi Sticker</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Maven app demo</b></a> - <a href="#">Production</a>
                    </td>
                    <td class="mailbox-attachment">MsSQL</td>
                    <td class="mailbox-date">backed up 15 hours ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-light-blue"></i></a></td>
                    <td><a href="#"><i class="fa fa-shield text-light-blue"></i></a></td>
                    <td><a href="#"><i class="fa fa-object-group text-light-blue"></i></a></td>
                    <td class="mailbox-name"><a href="#">Cassi Sticker</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Maven app demo</b></a> - <a href="#">Stage</a>
                    </td>
                    <td class="mailbox-attachment">Oracle</td>
                    <td class="mailbox-date">backed up 15 hours ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-light-blue"></i></a></td>
                    <td><a href="#"><i class="fa fa-shield text-light-blue"></i></a></td>
                    <td><a href="#"><i class="fa fa-object-group text-light-blue"></i></a></td>
                    <td class="mailbox-name"><a href="#">Cassi Sticker</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Maven app demo</b></a> - <a href="#">QA</a>
                    </td>
                    <td class="mailbox-attachment">Oracle</td>
                    <td class="mailbox-date">backed up 1 day ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-light-blue"></i></a></td>
                    <td><a href="#"><i class="fa fa-shield text-light-blue"></i></a></td>
                    <td><a href="#"><i class="fa fa-object-group text-light-blue"></i></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Data on demand demo</b></a> - <a href="#">Stage</a>
                    </td>
                    <td class="mailbox-attachment">Oracle</td>
                    <td class="mailbox-date">backed up 2 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-light-blue"></i></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"><i class="fa fa-object-group text-light-blue"></i></a></td>
                    <td class="mailbox-name"><a href="#">John Annarelli</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Todo app</b></a> - <a href="#">Dev</a>
                    </td>
                    <td class="mailbox-attachment">MsSQL</td>
                    <td class="mailbox-date">backed up 2 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-light-blue"></i></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Sam Day</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Todo app</b></a> - <a href="#">Production</a>
                    </td>
                    <td class="mailbox-attachment">Oracle</td>
                    <td class="mailbox-date">backed up 3 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-light-blue"></i></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Cassi Sticker</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Appone</b></a> - <a href="#">Production</a>
                    </td>
                    <td class="mailbox-attachment">Oracle</td>
                    <td class="mailbox-date">backed up 3 days ago</td>
                  </tr>
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
              <div class="mailbox-controls">
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                </div>
                <!-- /.btn-group -->
                <div class="btn-group">
                  <!--<button type="button" class="btn btn-default btn-sm"><img src="/dist/img/actifio-small.png" style="height: 16px;"></button>-->
                  <!--<button type="button" class="btn btn-default btn-sm"><img src="/dist/img/delphix.png" style="height: 10px;"></button>-->
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                </div>
                <div class="pull-right">
                  1-10/79
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->
              </div>
            </div>
          </div>
          <!-- /. box -->
        </div>