<div class="col-md-3">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-gear"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Engine 1</span>
              <span class="info-box-number">4 DBs</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    last incident 2 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div><div class="col-md-3">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-gear"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Engine 2</span>
              <span class="info-box-number">9 DBs</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    last incident 2 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div><div class="col-md-3">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-gear"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Engine 3</span>
              <span class="info-box-number">2 DBs</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    last incident 17 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div><div class="col-md-3">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-gear"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Engine 4</span>
              <span class="info-box-number">65 DBs</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    last incident 1 day ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div><div class="col-md-3">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-gear"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Engine 5</span>
              <span class="info-box-number">31 DBs</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    last incident 2 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div><div class="col-md-3">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-gear"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Engine 6</span>
              <span class="info-box-number">49 DBs</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    last incident 8 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div><div class="col-md-3">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-gear"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Engine 7</span>
              <span class="info-box-number">18 DBs</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    last incident 9 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div><div class="col-md-3">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-gear"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Engine 8</span>
              <span class="info-box-number">31 DBs</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    last incident 12 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div><div class="col-md-3">
          <a href="/infra/delphix/engine9">
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="fa fa-gear"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Engine 9</span>
              <span class="info-box-number">7 DBs</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    last incident 20 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
          <!-- /.info-box -->
        </div>