        <div class="col-xs-12">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Sample app</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-green">
                          <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                          <div class="info-box-content">
                            <span class="info-box-text">Development</span>
                            <span class="info-box-number">19</span>

                            <div class="progress">
                              <div class="progress-bar" style="width: 100%"></div>
                            </div>
                                <span class="progress-description">
                                  Success streak: 19
                                </span>
                          </div>
                          <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                      </div>
                      <!-- /.col -->
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-red">
                          <span class="info-box-icon"><i class="fa fa-exclamation-circle"></i></span>

                          <div class="info-box-content">
                            <span class="info-box-text">QA</span>
                            <span class="info-box-number">3</span>

                            <div class="progress">
                              <div class="progress-bar" style="width: 20%"></div>
                            </div>
                                <span class="progress-description">
                                  Failure streak: 3
                                </span>
                          </div>
                          <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                      </div>
                      <!-- /.col -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>