		<div class="box box-info">
            <div class="box-header with-border">
              <!--
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
          	  -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <tbody>
                  <tr>
                    <td>Service</td>
                    <td><span class="label label-success">OK</span></td>
                  </tr>
                  <tr>
                    <td>Replicated Containers</td>
                    <td><span class="label label-success">OK</span></td>
                  </tr>
                  <tr>
                    <td>Service Discovery</td>
                    <td><span class="label label-success">OK</span></td>
                  </tr>
                  <tr>
                    <td>DNS</td>
                    <td><span class="label label-success">OK</span></td>
                  </tr>
                  <tr>
                    <td>HOST PING</td>
                    <td><span class="label label-success">OK</span></td>
                  </tr>
                  <tr>
                    <td>TCP PING</td>
                    <td><span class="label label-success">OK</span></td>
                  </tr>
                  <tr>
                    <td>Proxy Access</td>
                    <td><span class="label label-success">OK</span></td>
                  </tr>
                  <tr>
                    <td>Database</td>
                    <td><span class="label label-success">OK</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
          </div>
      </div>