<!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          12 Apr 2018
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-refresh bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 12:05 PM</span>

                      <h3 class="timeline-header"><a href="#">Administrator</a> refreshed the environment</h3>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-green">
                        9 Apr 2018
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-refresh bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 7:20 AM</span>

                      <h3 class="timeline-header"><a href="#">Administrator</a> refreshed the environment</h3>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-gears bg-yellow"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 7:18 AM</span>

                      <h3 class="timeline-header"><a href="#">Administrator</a> updated Parameters</h3>

                      <div class="timeline-body">
                        <pre>
{
  Previous: {
    port: 8080
  },
  Now: {
    port: 80
  }
}</pre>
                      </div>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">View</a>
                        <a class="btn btn-danger btn-xs">Revert</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                    <div class="timeline-item">
                      <div class="timeline-footer">
                          <a class="btn btn-primary btn-xs">Show more</a>
                      </div>
                    </div>
                  </li>
                </ul>