<div class="box">
            <div class="box-header">
              <h3 class="box-title">Service distribution and status</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>ID</th>
                  <th>Container</th>
                  <th>Node</th>
                  <th>Status</th>
                </tr>
                <tr>
                  <td>e40d316285</td>
                  <td>71e052fe7cf6b0320f7f04616eacdbee3101ba80</td>
                  <td>docker-server-03</td>
                  <td><span class="label label-success">Running</span></td>
                </tr>
                <tr>
                  <td>e40d316285</td>
                  <td>09b5d0f1eab72a072b7fbcea64c28525d5a4da45</td>
                  <td>docker-server-07</td>
                  <td><span class="label label-success">Running</span></td>
                </tr>
                <tr>
                  <td>e40d316285</td>
                  <td>cc5ae39e9c26b8892d5fe6e143dae8a2113dd17c</td>
                  <td>docker-server-04</td>
                  <td><span class="label label-success">Running</span></td>
                </tr>
                <tr>
                  <td>e40d316285</td>
                  <td>dc3ba71535d4917e390ef567b2b8897b373299a4</td>
                  <td>docker-server-05</td>
                  <td><span class="label label-success">Running</span></td>
                </tr>
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>