<div class="jtk-demo-main">
<!-- demo -->
            <div class="jtk-demo-canvas canvas-wide flowchart-demo jtk-surface jtk-surface-nopan" id="canvas">
            	<div class="window jtk-node" id="flowchartApi1"><strong>API1</strong><br/><br/></div>
            	<div class="window jtk-node" id="flowchartApi2"><strong>API2</strong><br/><br/></div>
            	<div class="window jtk-node" id="flowchartCollector1"><strong>Collector1</strong><br/><br/></div>
            	<div class="window jtk-node" id="flowchartCollector2"><strong>Collector2</strong><br/><br/></div>
            	<div class="window jtk-node" id="flowchartCollector3"><strong>Collector3</strong><br/><br/></div>
            	<div class="window jtk-node" id="flowchartIndexer1"><strong>Indexer1</strong><br/><br/></div>
            	<div class="window jtk-node" id="flowchartIndexer2"><strong>Indexer2</strong><br/><br/></div>
            	<div class="window jtk-node" id="flowchartSnapper1"><strong>Snapper1</strong><br/><br/></div>
            	<div class="window jtk-node" id="flowchartSnapper2"><strong>Snapper2</strong><br/><br/></div>
            	<div class="window jtk-node" id="flowchartControlbot1"><strong>ControlBot1</strong><br/><br/></div>
            	<div class="window jtk-node" id="flowchartControlbot2"><strong>ControlBot2</strong><br/><br/></div>
            	<div class="window jtk-node" id="flowchartDatapool"><strong>DataPool</strong><br/><br/></div>
            	<div class="window jtk-node" id="flowchartCommandcenter"><strong>CommandCenter</strong><br/><br/></div>
            	<!--
                <div class="window jtk-node" id="flowchartWindow1"><strong>1</strong><br/><br/></div>
                <div class="window jtk-node" id="flowchartWindow2"><strong>2</strong><br/><br/></div>
                <div class="window jtk-node" id="flowchartWindow3"><strong>3</strong><br/><br/></div>
                <div class="window jtk-node" id="flowchartWindow4"><strong>4</strong><br/><br/></div>
            	-->
            </div>
            <!-- /demo --></div>