<div class="col-md-3">
          <!-- Info Boxes Style 2 -->
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="fa fa-desktop"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">VDesktops</span>
              <span class="info-box-number">52</span>

              <div class="progress">
                <div class="progress-bar" style="width: 50%"></div>
              </div>
              <span class="progress-description">
                    50% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>
        <div class="col-md-3">
          <!-- /.info-box -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-cloud"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Cloud costs</span>
              <span class="info-box-number">92,050</span>

              <div class="progress">
                <div class="progress-bar" style="width: 20%"></div>
              </div>
              <span class="progress-description">
                    20% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </div>
        <div class="col-md-3">
          <!-- /.info-box -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-server"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Server Count</span>
              <span class="info-box-number">195</span>

              <div class="progress">
                <div class="progress-bar" style="width: 10%"></div>
              </div>
              <span class="progress-description">
                    10% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </div>
        <div class="col-md-3">
          <!-- /.info-box -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-map-signs"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">DNS records</span>
              <span class="info-box-number">163</span>

              <div class="progress">
                <div class="progress-bar" style="width: 5%"></div>
              </div>
              <span class="progress-description">
                    5% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </div>
        <div class="col-md-3">
          <!-- /.info-box -->
          <a href="/infra/platform">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-cubes"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Platform Components</span>
              <span class="info-box-number"></span>

              <div class="progress">
                <div class="progress-bar" style="width: 10%"></div>
              </div>
              <span class="progress-description">
                    10% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          </a>
</div>
<div class="col-md-3">
          <!-- Info Boxes Style 2 -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-globe"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Datacenters</span>
              <span class="info-box-number">3</span>

              <div class="progress">
                <div class="progress-bar" style="width: 0%"></div>
              </div>
              <span class="progress-description">
                    0% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </div>
        <div class="col-md-3">
          <!-- /.info-box -->
          <a href="/infra/cloud-locations">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-soundcloud"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Cloud Locations</span>
              <span class="info-box-number">6</span>

              <div class="progress">
                <div class="progress-bar" style="width: 20%"></div>
              </div>
              <span class="progress-description">
                    20% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </a>
          </div>
        <div class="col-md-3">
          <!-- /.info-box -->
          <div class="info-box bg-red">
            <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">CDN Usage</span>
              <span class="info-box-number">11TB</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                    70% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </div>
        <div class="col-md-3">
          <!-- /.info-box -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-database"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Storage Capacity</span>
              <span class="info-box-number">408TB</span>

              <div class="progress">
                <div class="progress-bar" style="width: 30%"></div>
              </div>
              <span class="progress-description">
                    30% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
</div>
<div class="col-md-3">
          <!-- Info Boxes Style 2 -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-history"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Backup</span>
              <span class="info-box-number">120 day retention</span>

              <div class="progress">
                <div class="progress-bar" style="width: 50%"></div>
              </div>
              <span class="progress-description">
                    5% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </div>
        <div class="col-md-3">
          <!-- /.info-box -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-dashboard"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">CPU utilization</span>
              <span class="info-box-number">12%</span>

              <div class="progress">
                <div class="progress-bar" style="width: 10%"></div>
              </div>
              <span class="progress-description">
                    10% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </div>
        <div class="col-md-3">
          <!-- /.info-box -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-bars"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Memory utilization</span>
              <span class="info-box-number">19%</span>

              <div class="progress">
                <div class="progress-bar" style="width: 10%"></div>
              </div>
              <span class="progress-description">
                    10% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </div>
        <div class="col-md-3">
          <!-- /.info-box -->
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Storage Utilization</span>
              <span class="info-box-number">285TB</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                    70% Used.
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
</div>
<!-- Delphix Engines -->

<div class="col-md-3">
        <a href="/infra/delphix">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-gears"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Delphix Engines</span>
              <span class="info-box-number">9 engines-212TB</span>

              <div class="progress">
                <div class="progress-bar" style="width: 15%"></div>
              </div>
              <span class="progress-description">
                    15% Increase in 30 days.
                  </span>
            </div>
          </div>
        </a>
</div>

<!-- Actifio Appliances -->
<!--
<div class="col-md-3">
        <a href="/infra/actifio">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-gears"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Actifio Appliances</span>
              <span class="info-box-number">9 instances-212TB</span>

              <div class="progress">
                <div class="progress-bar" style="width: 15%"></div>
              </div>
              <span class="progress-description">
                    15% Increase in 30 days.
                  </span>
            </div>
          </div>
        </a>
</div>
-->