<!-- TO DO List -->
          <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">Waiting</h3>
              <!--
              <div class="box-tools pull-right">
                <ul class="pagination pagination-sm inline">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
              -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
              <ul class="todo-list">
                <li>
                  <!-- todo text -->
                  <a href="/job-queue/logs"><span class="text">Refresh database todo-app in production environment</span></a>
                  <!-- Emphasis label -->
                  <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 min</small>
                  <!-- General tools such as edit or delete-->
                  <div class="tools">
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-trash-o"></i>
                  </div>
                </li>
                <li>
                  <a href="/job-queue/logs"><span class="text">Refresh stage environment for Todo App</span></a>
                  <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 min</small>
                  <div class="tools">
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-trash-o"></i>
                  </div>
                </li>
              </ul>
            </div>
          </div>
<!-- TO DO List -->
          <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">Running</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
              <ul class="todo-list">
                <li>
                  <!-- todo text -->
                  <a href="/job-queue/logs"><span class="text">Provision qa environment for sample app</span></a>
                  <!-- Emphasis label -->
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 2 mins</small>
                  <i class="fa fa-refresh fa-spin"></i>
                  <!-- General tools such as edit or delete-->
                  <div class="tools">
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-pause"></i>
                    <i class="fa fa-trash-o"></i>
                  </div>
                </li>
                <li>
                  <a href="/job-queue/logs"><span class="text">Load Prometheus integration</span></a>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 5 mins</small>
                  <i class="fa fa-refresh fa-spin"></i>
                  <div class="tools">
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-pause"></i>
                    <i class="fa fa-trash-o"></i>
                  </div>
                </li>
                <li>
                  <a href="/job-queue/logs"><span class="text">Back up data for todo-app-db from production</span></a>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 20 mins</small>
                  <i class="fa fa-refresh fa-spin"></i>
                  <div class="tools">
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-pause"></i>
                    <i class="fa fa-trash-o"></i>
                  </div>
                </li>
              </ul>
            </div>
          </div>
<!-- TO DO List -->
          <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">Completed</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
              <ul class="todo-list">
                <li>
                  <a href="/job-queue/logs"><span class="text">Build elastalert</span></a>
                  <small class="label label-success"><i class="fa fa-clock-o"></i> 1 hr ago</small>
                  <div class="tools">
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-refresh"></i>
                  </div>
                </li>
                <li>
                  <a href="/job-queue/logs"><span class="text">Back up data for data-on-demand-demo from stage</span></a>
                  <small class="label label-success"><i class="fa fa-clock-o"></i> 2 hrs ago</small>
                  <div class="tools">
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-refresh"></i>
                  </div>
                </li>
                <li>
                  <a href="/job-queue/logs"><span class="text">Update Redis integration</span></a>
                  <small class="label label-danger"><i class="fa fa-clock-o"></i> 1 day ago</small>
                  <div class="tools">
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-refresh"></i>
                  </div>
                </li>
                <li>
                  <a href="/job-queue/logs"><span class="text">Back up data for todo-app-db from production</span></a>
                  <small class="label label-success"><i class="fa fa-clock-o"></i> 2 days ago</small>
                  <div class="tools">
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-refresh"></i>
                  </div>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border">
              <button type="button" class="btn btn-default pull-right">Show more</button>
            </div>
          </div>
          <!-- /.box -->