          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Security</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <h4>Blocked IP - 9 new</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">100% Complete</span>
                </div>
              </div>
              <h4>User trace - 0 new</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">100% Complete</span>
                </div>
              </div>
              <h4>HTTP 403 - 179 new</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">100% Complete</span>
                </div>
              </div>
              <h4>DDOS instances - 7 new</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">100% Complete</span>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>