          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Connection</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <h4>VPN to Datacenter</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">100% Complete (success)</span>
                </div>
              </div>
              <h4>Remote cloud interconnect</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">100% Complete</span>
                </div>
              </div>
              <h4>India Office</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">100% Complete (warning)</span>
                </div>
              </div>
              <h4>CDN connectivity</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">100% Complete</span>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>