          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Clusters</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <h4>Docker App. Servers (5/5)</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">100% Complete (success)</span>
                </div>
              </div>
              <h4>Elasticsearch Servers (3/4)</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                  <span class="sr-only">20% Complete</span>
                </div>
              </div>
              <h4>Redis Servers (3/3)</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">100% Complete (warning)</span>
                </div>
              </div>
              <h4>System Service Servers (8/10)</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                  <span class="sr-only">80% Complete</span>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>