<ul class="menu">
                  <li><!-- start notification -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new nodes added to webserver-alpha pool
                    </a>
                  </li>
                </ul>
                <ul class="menu">
                  <!-- end notification -->
                  <li><!-- start notification -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> John Annarelli shared a page snapshot - Analytics
                    </a>
                  </li>
                </ul>
                <ul class="menu">
                  <!-- end notification -->
                  <li><!-- start notification -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new nodes added to webserver-alpha pool
                    </a>
                  </li>
                </ul>
                  <!-- end notification -->
                </ul>