<!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          16 Apr 2018
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-gears bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 12:05 PM</span>

                      <h3 class="timeline-header"><a href="#">Administrator</a> updated Jenkins configuration</h3>

                      <div class="timeline-body">
                        <pre>
{
  Previous: {
    token: 88ajjasojnasdoiy
  },
  Now: {
    token: aeka008asksf02sl
  }
}</pre>
                      </div>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">View</a>
                        <a class="btn btn-danger btn-xs">Revert</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-share-alt bg-aqua"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 11:17 AM</span>

                      <h3 class="timeline-header no-border"><a href="#">Administrator</a> shared a code snippet <a href="">sha1 wrapper for data encryption</a>
                      </h3>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-comments bg-yellow"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                      <h3 class="timeline-header"><a href="#">Harshad</a> commented on your shared code snippet <a href="">updated disk scan function</a></h3>

                      <div class="timeline-body">
                        This is way better than the previous one in terms of time. Can't wait to see it implemented.
                      </div>
                      <div class="timeline-footer">
                        <a class="btn btn-warning btn-flat btn-xs">View</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-green">
                          14 Apr 2018
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-share-alt bg-aqua"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 9:11 AM</span>

                      <h3 class="timeline-header no-border"><a href="#">Administrator</a> shared a code snippet <a href="">updated disk scan function</a>
                      </h3>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                    <div class="timeline-item">
                      <div class="timeline-footer">
                          <a class="btn btn-primary btn-xs">Show more</a>
                      </div>
                    </div>
                  </li>
                </ul>