<!-- Post -->
                <div class="post">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="/dist/img/user1-128x128.jpg" alt="user image">
                        <span class="username">
                          <a href="#">John Annarelli</a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                        </span>
                    <span class="description">16 Apr. 2018, 7:30 PM</span>
                  </div>
                  <!-- /.user-block -->
                  <p>
                    Manually deployed application <a href="">Todo App</a> to Production.
                  </p>
                  <form class="form-horizontal">
                    <div class="form-group margin-bottom-none">
                      <div class="col-sm-9">
                        <input class="form-control input-sm" placeholder="Response">
                      </div>
                      <div class="col-sm-3">
                        <button type="submit" class="btn btn-danger pull-right btn-block btn-sm">Send</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /.post -->

                <!-- Post -->
                <div class="post">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="/dist/img/user5-128x128.jpg" alt="User Image">
                        <span class="username">
                          <a href="#">Cassi Sticker</a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                        </span>
                    <span class="description">14 Apr 2018, 5:40 PM</span>
                  </div>
                  <!-- /.user-block -->
                  <p>
                    Shared a code snippet <a href="">idea for new payments engine design</a>
                    <pre>def global_bind(w, event, func, add=None):
    root = w.nametowidget(".")
    
    handlers_of_event = _handlers[event]
    if len(handlers_of_event) == 0:
        root.bind_all(event, functools.partial(_run_handlers, handlers_of_event))
    
    if add == "+":
        handlers_of_event.append(func)
    else:
        handlers_of_event[:] = [func]

    return func</pre>
                  </p>

                  <ul class="list-inline">
                    <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                    <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like (14)</a>
                    </li>
                    <li class="pull-right">
                      <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments
                        (5)</a></li>
                  </ul>

                  <input class="form-control input-sm" type="text" placeholder="Type a comment">
                </div>
                <!-- /.post -->

                <!-- Post -->
                <div class="post">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="/dist/img/user3-128x128.jpg" alt="User Image">
                        <span class="username">
                          <a href="#">Harshad Bhandare</a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                        </span>
                    <span class="description">16 Feb. 2018, 4:34 PM</span>
                  </div>
                  <!-- /.user-block -->
                  <p>
                    Shared Ideas for new Dashboard theme.
                  </p>
                  <div class="row margin-bottom">
                    <div class="col-sm-6">
                      <img class="img-responsive" src="/dist/img/dash1.png" alt="Photo">
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-sm-6">
                          <img class="img-responsive" src="/dist/img/dash2.png" alt="Photo">
                          <br>
                          <img class="img-responsive" src="/dist/img/dash3.png" alt="Photo">
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                          <img class="img-responsive" src="/dist/img/dash4.png" alt="Photo">
                          <br>
                          <img class="img-responsive" src="/dist/img/dash5.png" alt="Photo">
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->

                  <ul class="list-inline">
                    <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                    <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like (51)</a>
                    </li>
                    <li class="pull-right">
                      <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments
                        (12)</a></li>
                  </ul>

                  <input class="form-control input-sm" type="text" placeholder="Type a comment">
                </div>
                <!-- /.post -->
                <div class="post">
                  <a class="btn btn-primary btn-xs">Show more</a>
                </div>