<form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">API Token</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" placeholder="e9e70f4ed3199e47c5b3b3d9da8ca62cd2744d71">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">API Secret</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="80f9c7ba8bd7a2ad6c9be9598645a31b322e6ac3">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <a class="btn btn-primary">Download Credentials</a>
                    </div>
                  </div>
                </form>