<ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h5>
                        Check Todo App - QA environment
                        <small class="pull-right"></small>
                      </h5>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-red" style="width: 20%" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h5>
                        Deployment rolled back - Maven App : Production
                        <small class="pull-right"></small>
                      </h5>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-yellow" style="width: 60%" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h5>
                        Service interruption - Oracle App - QA
                        <small class="pull-right"></small>
                      </h5>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-green" style="width: 100%" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">Done</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h5>
                        Traffic spike
                        <small class="pull-right"></small>
                      </h5>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-yellow" style="width: 60%" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h5>
                        Check Todo App - Stage environment
                        <small class="pull-right"></small>
                      </h5>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-green" style="width: 100%" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">Done</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h5>
                        Check Database Todo App - QA environment
                        <small class="pull-right"></small>
                      </h5>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-green" style="width: 100%" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">Done</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>