<!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          16 Apr 2018
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-plus bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 9:05 AM</span>

                      <h3 class="timeline-header"><a href="#">Administrator</a> added ticket <a href="#">Sysadmin should be able to refresh database</a></h3>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-green">
                        14 Apr 2018
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-refresh bg-yellow"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 7:20 PM</span>

                      <h3 class="timeline-header"><a href="#">Administrator</a> reopened <a href="#">Jenkins integration should allow job configuration</a></h3>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-terminal bg-green"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 5:18 PM</span>

                      <h3 class="timeline-header"><a href="#">Cassi Sticker</a> committed code for <a href="#">Write unit tests for collector services</a></h3>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">View code</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-paper-plane bg-green"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 5:18 PM</span>

                      <h3 class="timeline-header"><a href="#">Cassi Sticker</a> closed <a href="#">Change in login page image</a></h3>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                    <div class="timeline-item">
                      <div class="timeline-footer">
                          <a class="btn btn-primary btn-xs">Show more</a>
                      </div>
                    </div>
                  </li>
                </ul>