		<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title"><a href="/projects/todo?tab=issues">Latest issues</a></h3>

              <!--
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
          	  -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Task ID</th>
                    <th>Item</th>
                    <th>Status</th>
                    <th>Code Activity</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR1848</a></td>
                    <td>Increase storage space for DeDup</td>
                    <td><span class="label label-danger">flagged</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,-90,70,61,-83,68</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                    <td>Integrate Ansible Tower and enable running playbooks from Dashboard</td>
                    <td><span class="label label-danger">flagged</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,-80,90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR9842</a></td>
                    <td>Resolve firewall issue with DNS integration</td>
                    <td><span class="label label-danger">flagged</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
          </div>
          <div class="box-footer text-center">
				<a href="javascript:void(0)" class="uppercase">View All Issues</a>
			  </div>
      </div>