<!-- Bar chart -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title"><a href="/projects/todo?tab=statistics">Burn down chart</a></h3>
              <!--
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
          	  -->
            </div>
            <div class="box-body">
              <div id="bar-chart" style="height: 300px;"></div>
            </div>
            <!-- /.box-body-->
          </div>
          <!-- /.box -->

<div class="row">
    		<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title"><a href="/projects/todo?tab=issues">Latest issues</a></h3>

              <!--
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
          	  -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Task ID</th>
                    <th>Item</th>
                    <th>Status</th>
                    <th>Code Activity</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR1848</a></td>
                    <td>Increase storage space for DeDup</td>
                    <td><span class="label label-danger">flagged</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,-90,70,61,-83,68</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                    <td>Integrate Ansible Tower and enable running playbooks from Dashboard</td>
                    <td><span class="label label-danger">flagged</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,-80,90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR9842</a></td>
                    <td>Resolve firewall issue with DNS integration</td>
                    <td><span class="label label-danger">flagged</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
          </div>
          <div class="box-footer text-center">
				<a href="javascript:void(0)" class="uppercase">View All Issues</a>
			  </div>
      </div>

</div>

<div class="row">
    		<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title"><a href="/projects/todo?tab=tickets">Open tickets</a></h3>

              <!--
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
          	  -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Task ID</th>
                    <th>Item</th>
                    <th>Status</th>
                    <th>Code Activity</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR9842</a></td>
                    <td>Sysadmin should be able to refresh database</td>
                    <td><span class="label label-success">in dev</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR1848</a></td>
                    <td>Jenkins integration should allow job configuration</td>
                    <td><span class="label label-warning">reopened</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,-90,70,61,-83,68</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                    <td>Write unit tests for collector services</td>
                    <td><span class="label label-success">in dev</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,-80,90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                    <td>Design architecture for high availability of dashboard</td>
                    <td><span class="label label-success">in dev</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,-90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR1848</a></td>
                    <td>CSS out of place on login form</td>
                    <td><span class="label label-success">testing</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,-90,70,61,-83,68</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                    <td>Architect API for dashboard</td>
                    <td><span class="label label-success">in dev</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,-80,90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR9842</a></td>
                    <td>Change in login page image</td>
                    <td><span class="label label-success">Shipped</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
          </div>
          <div class="box-footer text-center">
				<a href="javascript:void(0)" class="uppercase">View All Tickets</a>
			  </div>
      </div>
</div>
<div class="row">
<div class="col-md-4">
          <!-- Info Boxes Style 2 -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-desktop"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Sales portal</span>
              <span class="info-box-number">99.999% SLA</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                    Last incident 299 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-cloud"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Cloud Operations</span>
              <span class="info-box-number">99.95% SLA</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                    Last incident 245 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-server"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Service Support</span>
              <span class="info-box-number">92.1% SLA</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                    Last incident 20 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          <a href="/apps">
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="fa fa-cubes"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">New services</span>
              <span class="info-box-number">89.1% SLA</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                    Last incident 12 days ago
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          </a>
</div>
<div class="col-md-8">
    <div class="col-md-12">
                  <p class="text-center">
                    <strong>Target Completion</strong>
                  </p>

                  <div class="progress-group">
                    <span class="progress-text">Business merger</span>
                    <span class="progress-number"><b>160</b>/200</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">New ventures</span>
                    <span class="progress-number"><b>310</b>/400</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-red" style="width: 77%"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">Maintenance</span>
                    <span class="progress-number"><b>480</b>/800</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-green" style="width: 60%"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">Sales</span>
                    <span class="progress-number"><b>250</b>/500</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                </div>
    <div class="col-md-12">
                  <p class="text-center">
                    <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                  </p>

                  <div class="chart">
                    <!-- Sales Chart Canvas -->
                    <canvas id="salesChart" style="height: 180px; width: 703px;" width="703" height="180"></canvas>
                  </div>
                  <!-- /.chart-responsive -->
                </div>
                <!-- /.col -->
    </div>
                <!-- /.col -->
</div>