        <div class="col-xs-12">
          <!-- interactive chart -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">Web traffic x1000 per min</h3>

              <div class="box-tools pull-right">
                Real time
                <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                  <button type="button" class="btn btn-default btn-xs active" data-toggle="on">On</button>
                  <button type="button" class="btn btn-default btn-xs" data-toggle="off">Off</button>
                </div>
              </div>
            </div>
            <div class="box-body">
              <div id="interactive" style="height: 300px; padding: 0px; position: relative;"><canvas class="flot-base" width="1069" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1069px; height: 300px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 97px; top: 283px; left: 21px; text-align: center;">0</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 97px; top: 283px; left: 123px; text-align: center;">10</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 97px; top: 283px; left: 227px; text-align: center;">20</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 97px; top: 283px; left: 332px; text-align: center;">30</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 97px; top: 283px; left: 437px; text-align: center;">40</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 97px; top: 283px; left: 541px; text-align: center;">50</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 97px; top: 283px; left: 646px; text-align: center;">60</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 97px; top: 283px; left: 751px; text-align: center;">70</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 97px; top: 283px; left: 855px; text-align: center;">80</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 97px; top: 283px; left: 960px; text-align: center;">90</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div class="flot-tick-label tickLabel" style="position: absolute; top: 270px; left: 13px; text-align: right;">0</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 216px; left: 7px; text-align: right;">20</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 162px; left: 7px; text-align: right;">40</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 108px; left: 7px; text-align: right;">60</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 54px; left: 7px; text-align: right;">80</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 0px; left: 1px; text-align: right;">100</div></div></div><canvas class="flot-overlay" width="1069" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1069px; height: 300px;"></canvas></div>
            </div>
            <!-- /.box-body-->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col -->