<div class="margin">
	<h4><a href="#">Cluster Health</a></h4>
	<input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="[80,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">
	<h4><a href="#">Production VM service instances</a></h4>
	<input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="200" data-slider-step="1" data-slider-value="[5,25]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">
	<h4><a href="#">Production Container service instances</a></h4>
	<input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="200" data-slider-step="1" data-slider-value="[15,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">
	<h4><a href="#">HTTP PING Requests per minute</a></h4>
	<input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="200" data-slider-step="1" data-slider-value="[60,140]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">
	<h4><a href="#">HTTP ERRORs per minute</a></h4>
	<input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="200" data-slider-step="1" data-slider-value="[0,10]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">
	<h4><a href="#">Healthy Event Stream</a></h4>
	<input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="200" data-slider-step="1" data-slider-value="[20,180]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">
	<h4><a href="#">Login Attemtps</a></h4>
	<input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="200" data-slider-step="1" data-slider-value="[1,5]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">
</div>