<!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          16 Apr 2018
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-gears bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 12:05 PM</span>

                      <h3 class="timeline-header"><a href="#">Administrator</a> updated Jenkins configuration</h3>

                      <div class="timeline-body">
                        <pre>
{
  Previous: {
    token: 88ajjasojnasdoiy
  },
  Now: {
    token: aeka008asksf02sl
  }
}</pre>
                      </div>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">View</a>
                        <a class="btn btn-danger btn-xs">Revert</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-plus bg-aqua"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 10:00 AM</span>

                      <h3 class="timeline-header no-border"><a href="#">John Annarelli</a> added Redis integration
                      </h3>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">View</a>
                        <a class="btn btn-danger btn-xs">Revert</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-gears bg-yellow"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 7:18 AM</span>

                      <h3 class="timeline-header"><a href="#">Control Bot</a> updated Ansible Tower configuration on behalf of <a href="#">Administrator</a></h3>

                      <div class="timeline-body">
                        <pre>
{
  Previous: {
    poll_frequecy: 30 sec
  },
  Now: {
    poll_frequecy: 5 sec
  }
}</pre>
                      </div>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">View</a>
                        <a class="btn btn-danger btn-xs">Revert</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-green">
                          15 Apr 2018
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-minus bg-red"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 4:29 PM</span>

                      <h3 class="timeline-header"><a href="#">Cassi</a> removed Redis integration</h3>

                      <div class="timeline-footer">
                        <a class="btn btn-danger btn-xs">Revert</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-exclamation bg-green"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 3:09 PM</span>

                      <h3 class="timeline-header">Integrated with Portainer</h3>

                      <div class="timeline-body">
                        Portainer integration is back online.
                      </div>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">View</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-gears bg-yellow"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 3:08 PM</span>

                      <h3 class="timeline-header"><a href="#">Control Bot</a> updated Portainer configuration on behalf of <a href="#">Administrator</a></h3>

                      <div class="timeline-body">
                        <pre>
{
  Previous: {
    host_url: http://portainer-test.sys.ys.com
  },
  Now: {
    host_url: http://portainer.sys.ys.com
  }
}</pre>
                      </div>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">View</a>
                        <a class="btn btn-danger btn-xs">Revert</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-exclamation bg-red"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 2:53 PM</span>

                      <h3 class="timeline-header">Unable to connect with Portainer</h3>

                      <div class="timeline-body">
                        Control Bot is unable to connect with Portainer post change <pre>e40d316285628d65cda0fad1ee5fc668283b423f</pre>
                        Please fix the integration.
                      </div>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">View</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                    <div class="timeline-item">
                      <div class="timeline-footer">
                          <a class="btn btn-primary btn-xs">Show more</a>
                      </div>
                    </div>
                  </li>
                </ul>