        <div class="col-md-12">
          <div class="">
            <div class="box-header">
              <h3 class="box-title"></h3>

              <div class="box-tools pull-right">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Search Plugins">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                </div>
                <!-- /.btn-group -->
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-upload"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                </div>
                <div class="pull-right">
                  1-33/33
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->
              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-upload text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/plugin/jenkins"><b>Syslog</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-upload text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/plugin/jenkins"><b>Auditd</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-upload text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/plugin/jenkins"><b>Graphite</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-upload text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/plugin/jenkins"><b>Docker</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>  
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-upload text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/plugin/jenkins"><b>Kubernetes</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-upload text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/plugin/jenkins"><b>EdgeCast</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-upload text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/plugin/jenkins"><b>Akamai</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-upload text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/plugin/jenkins"><b>PagerDuty</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-upload text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/plugin/jenkins"><b>Pingdom</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-upload text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/plugin/jenkins"><b>Jenkins</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>SonarQube</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-upload text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Cloud</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-upload text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Azure</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 11 hours ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>AWS</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 15 hours ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-upload text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Google Cloud</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 25 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-upload text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>IBM Cloud</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 1 day ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-upload text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="#"><b>SourceGraph</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 2 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Phabricator</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 2 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>GitHub</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 3 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>MailDev</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 3 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Logstash</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Elasticsearch</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>NagiosXI</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Ansible Tower</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Jira</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Rundeck</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>WeaveScope</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Postgres</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>WeaveScope</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Portainer</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Prometheus</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Command</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Yash Solutions LLC</a></td>
                    <td class="mailbox-subject"><a href="#"><b>Remote API</b></a> - <a href="#">0.0.1</a>
                    </td>
                    <td class="mailbox-date">changed 20 days ago</td>
                  </tr>
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                </div>
                <!-- /.btn-group -->
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-upload"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                </div>
                <div class="pull-right">
                  1-33/33
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.pull-right --> 
              </div>
            </div>
          </div>
          <!-- /. box -->
        </div>