        <div class="col-md-12">
          <div class="">
            <div class="box-header">
              <h3 class="box-title"></h3>

              <div class="box-tools pull-right">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Search Plugins">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                </div>
                <!-- /.btn-group -->
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm">Publish <i class="fa fa-check"></i></button>
                  <button type="button" class="btn btn-default btn-sm">Share <i class="fa fa-share"></i></button>
                  <button type="button" class="btn btn-default btn-sm">Make default <i class="fa fa-star"></i></button>
                </div>
                <div class="pull-right">
                  1-10/10
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->
              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/pages/sample"><b>Sample Page</b></a>
                    </td>
                    <td class="mailbox-date">saved 2 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-check text-yellow"></i></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/"><b>Summary</b></a>
                    </td>
                    <td class="mailbox-date">saved 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-check text-yellow"></i></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/projects"><b>Projects</b></a>
                    </td>
                    <td class="mailbox-date">saved 20 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-check text-yellow"></i></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/apps"><b>Applications</b></a>
                    </td>
                    <td class="mailbox-date">saved 11 hours ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-check text-yellow"></i></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/envs"><b>Environments</b></a>
                    </td>
                    <td class="mailbox-date">saved 15 hours ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-check text-yellow"></i></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/databases"><b>Databases</b></a>
                    </td>
                    <td class="mailbox-date">saved 25 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-check text-yellow"></i></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/infra"><b>Infrastructure</b></a>
                    </td>
                    <td class="mailbox-date">saved 1 day ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-check text-yellow"></i></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="/profile">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/monitoring"><b>Monitoring</b></a>
                    </td>
                    <td class="mailbox-date">saved 2 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"><i class="fa fa-check text-yellow"></i></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">Administrator</a></td>
                    <td class="mailbox-subject"><a href="/analytics"><b>Analytics</b></a>
                    </td>
                    <td class="mailbox-date">saved 2 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"><i class="fa fa-camera text-yellow"></i></a></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">John Annarelli</a></td>
                    <td class="mailbox-subject"><a href="/analytics?snap=1"><b>Critical Analytics</b></a>
                    </td>
                    <td class="mailbox-date">shared 3 days ago</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" style="position: absolute; opacity: 100;"></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"><i class="fa fa-camera text-yellow"></i></a></td>
                    <td><a href="#"></a></td>
                    <td class="mailbox-name"><a href="#">John Annarelli</a></td>
                    <td class="mailbox-subject"><a href="/?snap=2"><b>My Summary</b></a>
                    </td>
                    <td class="mailbox-date">shared 3 days ago</td>
                  </tr>
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                </div>
                <!-- /.btn-group -->
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm">Publish <i class="fa fa-check"></i></button>
                  <button type="button" class="btn btn-default btn-sm">Share <i class="fa fa-share"></i></button>
                  <button type="button" class="btn btn-default btn-sm">Make default <i class="fa fa-star"></i></button>
                </div>
                <div class="pull-right">
                  1-10/10
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->
              </div>
            </div>
          </div>
          <!-- /. box -->
        </div>