        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/monitoring">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-cloud"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Web Traffic</span>
              <span class="info-box-number">11.4K pm</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/databases">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-database"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Dev Databases</span>
              <span class="info-box-number">79</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/projects">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-rocket"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Active projects</span>
              <span class="info-box-number">76</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/envs">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-cubes"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Active test environments</span>
              <span class="info-box-number">23</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->