<!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          16 Apr 2018
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-gears bg-yellow"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 9:45 AM</span>

                      <h3 class="timeline-header"><a href="#">Control bot</a> triggerred build pipeline for audit tag <a href="#">71e052fe7cf6b0320f7f04616eacdbee3101ba80</a></h3>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">View</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-terminal bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 12:05 PM</span>

                      <h3 class="timeline-header"><a href="#">Administrator</a> committed <a href="#">added a feature for list reorder</a></h3>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-gears bg-yellow"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 9:45 AM</span>

                      <h3 class="timeline-header"><a href="#">Control bot</a> triggerred build pipeline for audit tag <a href="#">dc3ba71535d4917e390ef567b2b8897b373299a4</a></h3>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">View</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-terminal bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 9:45 AM</span>

                      <h3 class="timeline-header"><a href="#">Shannon Poole</a> committed <a href="#">bug fix for API param filters</a></h3>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-green">
                        14 Apr 2018
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-gears bg-yellow"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 7:21 PM</span>

                      <h3 class="timeline-header"><a href="#">Control bot</a> triggerred build pipeline for audit tag <a href="#">cc5ae39e9c26b8892d5fe6e143dae8a2113dd17c</a></h3>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">View</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-code-fork bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 7:20 PM</span>

                      <h3 class="timeline-header"><a href="#">Administrator</a> merged <a href="#">alpha</a> branch to <a href="#">master</a></h3>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                    <div class="timeline-item">
                      <div class="timeline-footer">
                          <a class="btn btn-primary btn-xs">Show more</a>
                      </div>
                    </div>
                  </li>
                </ul>