<div class="box">
            <div class="box-header">
              <h3 class="box-title">Application Versions</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>ID</th>
                  <th>User</th>
                  <th>Date</th>
                  <th>Status</th>
                </tr>
                <tr>
                  <td>e40d316285628d65cda0fad1ee5fc668283b423f</td>
                  <td>Administrator</td>
                  <td>18-2-2018 2:30 PM</td>
                  <td><span class="label label-info">Ready</span></td>
                </tr>
                <tr>
                  <td>b687cebfec9538897db4a12c64941bd69ea1a715</td>
                  <td>Administrator</td>
                  <td>18-2-2018 2:18 PM</td>
                  <td><span class="label label-success">Deployed</span></td>
                </tr>
                <tr>
                  <td>fa9c27d14d6c8de12617224fdbe6eaaf92faa7aa</td>
                  <td>John Annarelli</td>
                  <td>16-2-2018 1:09 PM</td>
                  <td><span class="label label-info">Ready</span></td>
                </tr>
                <tr>
                  <td>f88973e0409be49050b089c687803e36eab2376e</td>
                  <td>Cassi Sticker</td>
                  <td>15-2-2018 4:57 PM</td>
                  <td><span class="label label-danger">Test Failed on Stage</span></td>
                </tr>
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>