        <div class="col-md-5">
          <!-- Widget: user widget style 1 -->
          <div class="box box-danger">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="box-header with-border">
              <h3 class="box-title">Groups</h3>

              <div class="box-tools pull-right">
                <span class="label label-danger">Top active groups</span>
                <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>-->
                <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                </button>-->
              </div>
            </div>  
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a href="#">Developers <span class="pull-right badge bg-blue">149</span></a></li>
                <li><a href="#">Testers <span class="pull-right badge bg-aqua">37</span></a></li>
                <li><a href="#">DBAs <span class="pull-right badge bg-green">5</span></a></li>
                <li><a href="#">Project Managers <span class="pull-right badge bg-red">16</span></a></li>
                <li><a href="#">System admins <span class="pull-right badge bg-blue">4</span></a></li>
                <li><a href="#">Site Reliability Engineers <span class="pull-right badge bg-aqua">11</span></a></li>
                <li><a href="#">CXOs <span class="pull-right badge bg-green">3</span></a></li>
              </ul>
            </div>
            <div class="box-footer text-center">
              <a href="javascript:void(0)" class="uppercase">View All Groups</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.widget-user -->
        </div>