<!-- TO DO List -->
          <div class="box box-primary">
            <div class="box-body">
              <ul class="todo-list">
                <li>
                  <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" style="height: 35px">
                  <a href="/profile"><span class="text">Administrator</span></a>
                  <span class="pull-right badge bg-blue">Administrator</span>
                </li>
                <li>
                  <img src="/dist/img/user1-128x128.jpg" class="img-circle" alt="User Image" style="height: 35px">
                  <a href="/profile"><span class="text">John Annarelli</span></a>
                  <span class="pull-right badge bg-blue">Project Managers</span>
                  <span class="pull-right badge bg-aqua">Read</span>
                </li>
                <li>
                  <img src="/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image" style="height: 35px">
                  <a href="/profile"><span class="text">Harshad Bhandare</span></a>
                  <span class="pull-right badge bg-blue">Developers</span>
                  <span class="pull-right badge bg-aqua">Read</span>
                  <span class="pull-right badge bg-aqua">API</span>
                  <span class="pull-right badge bg-aqua">Environments</span>
                  <span class="pull-right badge bg-aqua">Applications</span>
                </li>
                <li>
                  <img src="/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image" style="height: 35px">
                  <a href="/profile"><span class="text">Shannon Poole</span></a>
                  <span class="pull-right badge bg-blue">Testers</span>
                  <span class="pull-right badge bg-blue">Project Managers</span>
                  <span class="pull-right badge bg-aqua">Read</span>
                  <span class="pull-right badge bg-aqua">API</span>
                </li>
                <li>
                  <img src="/dist/img/user5-128x128.jpg" class="img-circle" alt="User Image" style="height: 35px">
                  <a href="/profile"><span class="text">Cassi Sticker</span></a>
                  <span class="pull-right badge bg-blue">System Admins</span>
                  <span class="pull-right badge bg-blue">Project Managers</span>
                  <span class="pull-right badge bg-aqua">Read</span>
                  <span class="pull-right badge bg-aqua">Environments</span>
                </li>
              </ul>
            </div>
          </div>
