        <div class="col-md-3">
          <!-- Widget: user widget style 1 -->
          <div class="box box-danger">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="box-header with-border">
              <h3 class="box-title">Roles</h3>

              <div class="box-tools pull-right">
                <span class="label label-danger">Top active roles</span>
                <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>-->
                <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                </button>-->
              </div>
            </div>  
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a href="#">API <span class="pull-right badge bg-red">4</span></a></li>
                <li><a href="#">Bot <span class="pull-right badge bg-blue">1</span></a></li>
                <li><a href="#">Read <span class="pull-right badge bg-red">5</span></a></li>
                <li><a href="#">Applications <span class="pull-right badge bg-aqua">170</span></a></li>
                <li><a href="#">Projects <span class="pull-right badge bg-yellow">34</span></a></li>
                <li><a href="#">Environments <span class="pull-right badge bg-green">89</span></a></li>
                <li><a href="#">Administrator <span class="pull-right badge bg-red">2</span></a></li>
              </ul>
            </div>
            <div class="box-footer text-center">
              <a href="javascript:void(0)" class="uppercase">View All Groups</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.widget-user -->
        </div>