<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Inspiring Teams</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
  <link rel="stylesheet" href="/dist/css/skins/skin-blue.min.css">
  <link rel="stylesheet" href="/dist/css/skins/skin-yellow.min.css">

  <!-- bootstrap slider -->
  <link rel="stylesheet" href="/plugins/bootstrap-slider/slider.css">

  <link rel="stylesheet" href="/bower_components/jvectormap/jquery-jvectormap.css">

  <!-- jplumb -->
  <link rel="stylesheet" href="/plugins/jsplumb/jsplumbtoolkit-defaults.css">
  <link rel="stylesheet" href="/plugins/jsplumb/jsplumbtoolkit-demo.css">
  <link rel="stylesheet" href="/plugins/jsplumb/flowchart-app.css">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>{{ client[0].upper() }}</b>'Uni</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>{{ client }}</b> Unified</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      {% if 'snap' in globals() and snap %}
      <h5 class="pull-left" style="color: white; padding-top: 8px">Snapped 3 days ago by John Annarelli</h5>
      {% end %}
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Email: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-wechat"></i>
              <span class="label label-success">1</span>
            </a>
            <ul class="dropdown-menu">
              <!-- CHAT BOT -->
              <li class="header">Talk to Control Bot</li>
              <li>
                <!-- inner menu: contains the messages -->
                <div class="box box-primary direct-chat direct-chat-primary">
                  <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                      <!-- Message. Default to the left -->
                      <div class="direct-chat-msg">
                        <div class="direct-chat-info clearfix">
                          <span class="direct-chat-name pull-left">Control Bot</span>
                          <span class="direct-chat-timestamp pull-right">16 Apr 2:00 pm</span>
                        </div>
                        <!-- /.direct-chat-info -->
                        <img class="direct-chat-img" src="/dist/img/bot-128x128.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                          Your wish is my command.
                        </div>
                        <!-- /.direct-chat-text -->
                      </div>
                      <!-- /.direct-chat-msg -->

                      <!-- Message to the right -->
                      <div class="direct-chat-msg right">
                        <div class="direct-chat-info clearfix">
                          <span class="direct-chat-name pull-right">You</span>
                          <span class="direct-chat-timestamp pull-left">16 Apr 2:01 pm</span>
                        </div>
                        <!-- /.direct-chat-info -->
                        <img class="direct-chat-img" src="/dist/img/user2-160x160.jpg " alt="Message User Image"><!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                          deploy 'todo app' to qa
                        </div>
                        <!-- /.direct-chat-text -->
                      </div>
                      <!-- /.direct-chat-msg -->

                      <!-- Message. Default to the left -->
                      <div class="direct-chat-msg">
                        <div class="direct-chat-info clearfix">
                          <span class="direct-chat-name pull-left">Control Bot</span>
                          <span class="direct-chat-timestamp pull-right">16 Apr 2:07 pm</span>
                        </div>
                        <!-- /.direct-chat-info -->
                        <img class="direct-chat-img" src="/dist/img/bot-128x128.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                          Deployment of 'todo app' to qa was successful.
                        </div>
                        <!-- /.direct-chat-text -->
                      </div>
                      <!-- /.direct-chat-msg -->
                    </div>
                    <!--/.direct-chat-messages-->
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                    <!--<form action="#" method="get">-->
                      <div class="input-group">
                        <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                            <span class="input-group-btn">
                              <a href="#">
                                <button type="submit" class="btn btn-primary btn-flat">Send</button>
                              </a>
                            </span>
                      </div>
                    <!--</form>-->
                  </div>
                  <!-- /.box-footer-->
                </div>
                <!-- /.menu -->
              </li>
              <!-- /.CHAT BOT -->
              <li class="footer"><a href="/profile?tab=conversations">See the conversation</a></li>
            </ul>
          </li>
          <!-- /.email-menu -->
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img src="/dist/img/user1-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
                        John Annarelli
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <!-- The message -->
                      <p>Refresh database - Hello Ashish, there is a lot of activity on this database</p>
                    </a>
                  </li>
                  <!-- end message -->
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img src="/dist/img/bot-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
                        Jenkins
                        <small><i class="fa fa-clock-o"></i> 28 mins</small>
                      </h4>
                      <!-- The message -->
                      <p>Build failed - Maven App : QA Environment build 72</p>
                    </a>
                  </li>
                  <!-- end message -->
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img src="/dist/img/bot-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
                        Jenkins
                        <small><i class="fa fa-clock-o"></i> 11 hours</small>
                      </h4>
                      <!-- The message -->
                      <p>Build success - Maven App : Stage environment - failure streak: 5</p>
                    </a>
                  </li>
                  <!-- end message -->
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img src="/dist/img/user5-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
                        Cassi Sticker
                        <small><i class="fa fa-clock-o"></i> 15 hours</small>
                      </h4>
                      <!-- The message -->
                      <p>Maven app demo - Production environment</p>
                    </a>
                  </li>
                  <!-- end message -->
                </ul>
                <!-- /.menu -->
              </li>
              <li class="footer"><a href="/profile?tab=messages">See All Messages</a></li>
            </ul>
          </li>
          <!-- /.messages-menu -->

          <!-- Notifications Menu -->
          <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">1</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 1 notification</li>
              <li>
                <!-- Inner Menu: contains the notifications -->
                <ul class="menu">
                  <li><!-- start notification -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new nodes added to webserver-alpha pool
                    </a>
                  </li>
                  <!-- end notification -->
                </ul>
              </li>
              <li class="footer"><a href="/profile?tab=notifications">View all</a></li>
            </ul>
          </li>
          <!-- Tasks Menu -->
          <li class="dropdown tasks-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">3</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 3 new tasks</li>
              <li>
                <!-- Inner menu: contains the tasks -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h3>
                        Check Todo App - QA environment
                        <small class="pull-right"></small>
                      </h3>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-red" style="width: 20%" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h3>
                        Deployment rolled back - Maven App : Production
                        <small class="pull-right"></small>
                      </h3>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-yellow" style="width: 60%" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h3>
                        Service interruption - Oracle App - QA
                        <small class="pull-right"></small>
                      </h3>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-green" style="width: 100%" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">done</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="/profile?tab=tasks">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">Administrator</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  Administrator - CTO
                  <small>Member since July. 2017</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">57 Shares</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">139 Likes</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">45 Fans</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/profile" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="/login" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Documentation -->
          <li>
            <a href="#"><i class="fa fa-book"></i></a>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
          <!-- Page snapshot share -->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-camera"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="input-group">
                  <input type="text" name="search" class="form-control" placeholder="Give this a name">

                  <div class="input-group-btn">
                    <button type="submit" name="submit" class="btn btn-primary btn-flat"><i class="fa fa-share"></i>
                    </button>
                    <button type="submit" name="submit" class="btn btn-primary btn-flat"><i class="fa fa-save"></i>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Administrator</p>
          <!-- Status -->
          <a href="/profile"><i class="fa fa-circle text-success"></i>Online</a>
        </div>
      </div>

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Main Navigation</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="treeview {% if 'dash' in show %} active{% end %}">
          <a href="/">
            <i class="fa fa-dashboard"></i> <span>Summary</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: {% if 'dash' in show %}block;{% else %}none;{% end %}">
            <li class="{% if 'dash' == show %}active{% end %}"><a href="/dash"><i class="fa fa-circle-o"></i>Workspace</a></li>
            <li class="{% if 'dashlineofbusiness' == show %}active{% end %}"><a href="/dashlineofbusiness"><i class="fa fa-circle-o"></i>Lines of Business</a></li>
            <li class="{% if 'dashitstatus' == show %}active{% end %}"><a href="/dashitstatus"><i class="fa fa-circle-o"></i>Business IT Status</a></li>
            <li class="{% if 'dashsoftdelivery' == show %}active{% end %}"><a href="/dashsoftdelivery"><i class="fa fa-circle-o"></i>Software Delivery</a></li>
            <li class="{% if 'dashsoftquality' == show %}active{% end %}"><a href="/dashsoftquality"><i class="fa fa-circle-o"></i>Software Quality</a></li>
            <li class="{% if 'dashsoftdevelopment' == show %}active{% end %}"><a href="/dashsoftdevelopment"><i class="fa fa-circle-o"></i>Software Development</a></li>
          </ul>
        </li>
        <li{% if show in ['projects','projects-todo'] %} class="active"%}{% end %}><a href="/projects"><i class="fa fa-briefcase"></i> <span>Projects</span></a></li>
        <li{% if show in ['apps', 'apps-todo'] %} class="active"%}{% end %}><a href="/apps"><i class="fa fa-paper-plane-o"></i> <span>Applications</span></a></li>
        <li{% if show in ['envs', 'envs-todo-app-prod'] %} class="active"%}{% end %}><a href="/environments"><i class="fa fa-globe"></i> <span>Environments</span></a></li>
        <li{% if show=='databases' %} class="active"%}{% end %}><a href="/databases"><i class="fa fa-database"></i> <span>Databases</span></a></li>
        <li{% if show=='infra' %} class="active"%}{% end %}><a href="/infra"><i class="fa fa-cubes"></i> <span>Infrastructure</span></a></li>
        <li{% if show=='monitoring' %} class="active"%}{% end %}><a href="/monitoring"><i class="fa fa-heartbeat"></i> <span>Monitoring</span></a></li>
        <li{% if show=='analytics' %} class="active"%}{% end %}><a href="/analytics"><i class="fa fa-bar-chart"></i> <span>Analytics</span></a></li>
        <li{% if show=='users' %} class="active"%}{% end %}><a href="/users"><i class="fa fa-users"></i> <span>Users</span></a></li>
        <li{% if show=='settings' %} class="active"%}{% end %}><a href="/settings"><i class="fa fa-gears"></i> <span>Settings</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

